/* GLOBAL
-------------------------------------------------- */
.create-post-card {
  margin-top: 2rem;
}

mat-card-title {
  text-align: center;
}

mat-form-field, textarea {
  width: 100%;
}

mat-card {
  width: 60%;
  margin: auto;
  padding: 10px;

  border-style: solid;
  border-width: thin;
  border-color: #4da8da;
  box-shadow: none;
}

mat-form-field {
  width: 100%;
}


/* FOOTER
-------------------------------------------------- */
.container-footer {
  margin-top: 2rem;
}

.copyright {
  text-align: center;
}

/* MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  color: black;
}

.modal-body {
  color: black;
}

.modal-footer {
  color: black;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
