/* GLOBAL
-------------------------------------------------- */
.create-post-card {
  margin-top: 2rem;
}

mat-card-title {
  text-align: center;
}

mat-form-field, textarea {
  width: 100%;
}

mat-card {
  width: 60%;
  margin: auto;

  padding: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #9b9b9b;
  box-shadow: none;
}

mat-form-field {
  width: 100%;
}


/* FOOTER
-------------------------------------------------- */
.container-footer {
  margin-top: 2rem;
}

.copyright {
  text-align: center;
}
