
img {
  width:100%;
  height: 100%;
}


/*
 * For the role selection for user creation. Still need to combine w styling at html level
*/
.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #7D7D7D;
}

::ng-deep .mat-select-arrow {
  color: #4da8da !important;
}

::ng-deep .mat-select-value {
  color: #EEFBFB !important;
}

.mat-select-value::placeholder {
  color: #EEFBFB !important;
}

mat-icon {
  color: #4da8da;
}

.logo img {
  width: 50%;
  height: 50%;
}

.logo {
  background-position: center;
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;

}





/* html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "picture card";
}

.picture { grid-area: picture;} */

.card { grid-area: card;
  background-color: #12232E;
}









.cdk-overlay-container {
  position: fixed;
  z-index: 99999;
}


::ng-deep .cdk-overlay-container {
  z-index: 99999;
}

mat-card {
  background-color: #203647;
}

mat-form-field {
  width:100%;
  background-color: #203647;
  color: white;
}

mat-spinner {
  margin: auto;
}

p-button {
  margin-left: .5rem;
  margin-right: .5rem;
}

