<div class="card">
  <mat-card>
    <span class="logo">
      <img src="assets/Orbital-Logo-Design.png" alt="Logo of CCSGP" />
    </span>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="form"></div>
    <form *ngIf="!isLoading" #loginForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          type="email"
          name="email"
          ngModel
          required
          #emailInput="ngModel"
          placeholder="Please enter your Email Address here"
          email
        />
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email address.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          name="password"
          ngModel
          required
          #passwordInput="ngModel"
          placeholder="Enter Password Here"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password.</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
      >
        <mat-label>User Role</mat-label>
        <mat-select ngModel required #roleInput="ngModel" name="role">
          <mat-option
            >--</mat-option
          >

          <mat-option
            *ngFor="let role of roles"
            [value]="role"
          >
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleInput.invalid"
          >Please select the user's role.</mat-error
        >
      </mat-form-field>

      <div class="form-footer">
        <button mat-raised-button color="accent" (click)="onLogin(loginForm)">
          Login
        </button>
        <!--
        <p-button
          class="forgetPassword"
          label="Forget Password"
          icon="pi pi-heart"
          styleClass="p-button-info"
          (click)="onOpenForgetPassword(forgetPasswordContent)"
        ></p-button>

        <button mat-raised-button color="primary" (click)="onOpenForgetPassword(forgetPasswordContent)">
          Forget Password
        </button>
        -->
        <a href="javascript:;" (click)="onOpenForgetPassword(forgetPasswordContent)" class="forget-password-link">Forget Password</a>
      </div>
    </form>
  </mat-card>
</div>









<ng-template #forgetPasswordContent let-modal class="forgetPasswordPopup">
  <div
    class="modal-header"
  >
    <h4 class="modal-title">
      Don't worry. Happens to the best of us ;)
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
      style="color: transparent"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="modal-body"
  >
    <form #forgetPasswordForm="ngForm">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="text"
          ngModel
          name="forgetPasswordEmail"
          required
          #forgetPasswordEmail="ngModel"
          placeholder="Email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>User Role</mat-label>
        <mat-select
          ngModel
          required
          #forgetPasswordRole="ngModel"
          name="forgetPasswordRole"
        >
          <mat-option>--</mat-option
          >
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
        <mat-error *ngIf="forgetPasswordRole.invalid"
          >Please select the user's role.</mat-error
        >
      </mat-form-field>
    </form>
  </div>

  <div
    class="modal-footer"
  >
    <div
      *ngIf="newPasswordSent"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <strong>Password changed!</strong> Please check your email for the new
      password.
      <button
        (click)="closeNotification()"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="
        onForgetPassword(forgetPasswordForm) && modal.dismiss('Cross click')
      "
    >
      Send new password!
    </button>
  </div>
</ng-template>
