/* LOGIN PAGE GLOBAL
-------------------------------------------------- */
.cdk-overlay-container {
  position: fixed;
  z-index: 99999;
}

::ng-deep .cdk-overlay-container {
  z-index: 99999;
}

.card {
  grid-area: card;
}

/* LOGIN CARD
-------------------------------------------------- */
mat-card {
  width: 20%;
}

.card {
  grid-area: card;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #7D7D7D;
}

::ng-deep .mat-select-arrow {
  color: #4da8da !important;
}

::ng-deep .mat-select-value {
  color: #EEFBFB !important;
}

.logo img {
  width: 50%;
  height: 50%;
}

.logo {
  background-position: center;
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}

.mat-select-value::placeholder {
  color: #EEFBFB !important;
}

mat-icon {
  color: #4da8da;
}

mat-form-field {
  width:100%;
}

p-button {
  margin-left: .5rem;
  margin-right: .5rem;
}

.form-footer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.forget-password-link {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/* FORGET PASSWORD MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  /* background-color: #203647; */
  border: none;
}

.modal-title {
  /* background-color: #203647; */
  border: none;
}

.modal-body {
  /* background-color: #203647; */
  border: none;
}

.modal-footer {
  /* background-color: #203647; */
  border: none;
}

/* MISCELLANEOUS
-------------------------------------------------- */
img {
  width:100%;
  height: 100%;
}

mat-spinner {
  margin: auto;
}




/* html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "picture card";
}

.picture { grid-area: picture;} */
