<div class="applied-posts-div">
  <div class="centered" *ngFor="let post of appliedPosts" >
    <section class="cards" *ngIf="post.students.length > 0">
      <mat-card class="application-post-card">
        <img
          *ngIf="!post.imagePath"
          mat-card-image
          class="card-image"
          src="../../../assets/placeholder-{{post.beneficiaries}}.png"
          alt="Placeholder image"
        />

        <img
          *ngIf="post.imagePath"
          mat-card-image
          class="card-image"
          [src]="post.imagePath"
          alt="Placeholder image"
        />

        <mat-card-title class="post-card-title">
          {{ post.title }}
        </mat-card-title>

        <mat-card-subtitle class="post-card-subtitle">
          by <b>{{ post.orgName }}</b>
        </mat-card-subtitle>

        <mat-card-content class="post-card-content">
          <mat-icon>event</mat-icon> {{ post.startDate | date }} to
          {{ post.endDate | date }} <br />
          <mat-icon>schedule</mat-icon> {{ post.hoursRequired }} <br />
          <mat-icon> location_on</mat-icon>
          {{ post.location || "No Location Specified" }} <br />
          <mat-icon>people_outline</mat-icon> Skillsets: {{ post.skills }}
          <br />
        </mat-card-content>

        <mat-footer class="post-card-footer">
          <button
            matTooltip="Click for more information"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="100"
            mat-button
            color="primary"
            aria-label="Learn More"
            (click)="onMoreInfo(content)"
          >
            <mat-icon color="primary"> help_outline </mat-icon>
          </button>
        </mat-footer>
      </mat-card>
    </section>

    <ng-template #content let-modal>
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="closelearnmore">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
          ></button>
        </div>
        <div class="px-4 py-3 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{ post.title }}
          </h3>

          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            by <i>{{ post.orgName }}</i>
          </p>
        </div>

        <div class="border-t border-gray-200">
          <dl>
            <div
              class="
                bg-gray-50
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">About</dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.content }}
              </dd>
            </div>

            <div
              class="
                bg-white
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">
                Point-Of-Contact's Name
              </dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.POC }}
              </dd>
            </div>

            <div
              class="
                bg-gray-50
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">
                Email Address
              </dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.email }}
              </dd>
            </div>

            <div
              class="
                bg-white
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">
                Preferred Skillset
              </dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.skills }}
              </dd>
            </div>

            <div
              class="
                bg-gray-50
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">
                Beneficiaries
              </dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.beneficiaries }}
              </dd>
            </div>

            <div
              class="
                bg-white
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Duration</dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.startDate | date }} to {{ post.endDate | date }}
              </dd>
            </div>

            <div
              class="
                bg-gray-50
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">
                Commitment Information
              </dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.hoursRequired }}
              </dd>
            </div>

            <div
              class="
                bg-white
                px-4
                py-3
                sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6
              "
            >
              <dt class="text-sm font-medium text-gray-500">Location</dt>
              <dd
                class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"
              >
                {{ post.location || "Not Specified" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="info-text" *ngIf="hasApplied === false">
  <h1 class="info-text-header">No Applications</h1>
  <p class="info-text-subheader">
    If you have applied for a post, it will show up here.
  </p>
</div>
