<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .carousel-inner .sr-only {
      display: none;
    }
  </style>
  <!-- Custom styles for this template-->
  <!-- Use Angular's targetting in the .ts file instead.
    <link href="./carousel.css" rel="stylesheet">
    -->
</head>

<body>
  <main>
    <div *ngIf="highlights.length !== 0">

      <ngb-carousel class="carousel">
        <ng-template ngbSlide *ngFor="let highlight of highlights">

          <div class="carousel-card">
            <div class="wrapper-div">

              <h2 class="carousel-heading">
                <u>{{ highlight.title }}</u>
              </h2>

              <p class="carousel-lead">
                {{ highlight.summary }}
              </p>
              <!-- <p>
                    {{ highlight.id }}
                  </p> -->

              <div class="carousel-button-container">
                <button mat-raised-button class="carousel-read-more-button" (click)="openContent(highlight.id)">
                  Read More
                </button>

                <button mat-raised-button class="carousel-read-more-button" (click)="deleteHighlight(highlight.id)"
                  *ngIf="isAuth && user.admin">
                  Delete
                </button>
              </div>
            </div>

            <div class="col-md-5">
              <img class="carousel-image" [src]="highlight.imagePath" />
            </div>
          </div>


        </ng-template>
      </ngb-carousel>
    </div>

    <div class="info-text" *ngIf="highlights.length === 0">
      <h1 class="info-text-header">No Highlights Shown</h1>
      <p class="info-text-body">
        Our Administrators will post a highlight here as and when it is
        available!
      </p>
    </div>

    <!---->
    <hr class="carousel-divider" />

    <div class="container marketing">
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our Story<br /></h2>
          <span class="text-muted">Connecting Hearts with Minds</span>
          <p class="lead">
            Inaugurated in June 2021, the Centre for Computing for Social Good
            and Philanthropy (CCSGP) aims to liberalise and unleash the power
            of the National University of Singapore's (NUS) School of
            Computing (SOC) students to do good for society.
          </p>
        </div>
        <div class="col-md-5">
          <!--
            <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
          -->
          <img src="../../assets/Orbital-Logo-Design.png" alt="CCSGP's logo" class="featurette-image" />
        </div>
      </div>

      <hr class="featurette-divider" />
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Endless Possibilities</h2>
          <span class="text-muted">Shoot for the moon and you will land upon the stars</span>
          <p class="lead">
            Organisations have a plethora of students to choose from that best
            fits their project needs. Students have a myriad of choices of
            organisations to volunteer for.<br />What's not to love?
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <!--
            <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
          -->
          <img src="https://www.pngkey.com/png/full/4-49790_galaxies-galaxy-png.png" alt="Photo of galaxies"
            class="featurette-image" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Global Network</h2>
          <span class="text-muted">The world is your oyster</span>
          <p class="lead">
            Tap into our network of professionals and their diverse skillsets.
          </p>
        </div>
        <div class="col-md-5">
          <!--
            <svg
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
            width="500"
            height="500"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
          </svg>
          -->
          <img src="https://www.pngarts.com/files/1/Globe-Transparent-Images.png" alt="Photo of the galaxy"
            class="featurette-image" />
        </div>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!--
      <div style="text-align: center;">
        <p>
          There is supposed to be an advertisement here.
        </p>
        <script
          async
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
        ></script>

        <ins
          class="adsbygoogle"
          style="display: inline-block; width: 120px; height: 500px"
          data-ad-client="ca-pub-5762664625803860"
          data-ad-slot="5806789784"
        ></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
      -->

    <!-- FOOTER -->
    <footer class="container">
      <p class="copyright">
        &copy; Orbital 2021 Team StudyGoWhere, ID 2601, Darren Hoon and Wilbur
        Fong. <br />
        In conjuction with the
        <a href="https://www.ccsgp.comp.nus.edu.sg/" target="_blank">Centre for Computing for Social Good and
          Philanthropy (CCSGP)</a>, NUS.
      </p>
    </footer>
  </main>
</body>

</html>