mat-form-field, textarea {
  width: 100%;
}

mat-card {
  width: 60%;
  margin: auto;
}

mat-label {
  color: #EEFBFB;
}

.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #EEFBFB;
}

