mat-form-field, textarea {
  width: 100%;
}

mat-card {
  width: 60%;
  margin: auto;
}

mat-label {
  color: #EEFBFB;
}

.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #EEFBFB;
}

/*
 * For Beneficiaries and DatePicker styling
*/
.mat-select-arrow {
  color: #4da8da;
}

mat-datepicker-toggle {
  color: #4da8da !important;
}

input {
  color: #EEFBFB;
}

.mat-select-value {
  color: #EEFBFB;
}

.mat-select-value::placeholder {
  color: #EEFBFB;
}
