<div class="approve-posts-container">
  <div class="posts-list">
    <!-- <div class="posts-counter-container" *ngIf="hasRequest === true">
      <span class="posts-counter-text">Number of posts by me: {{postsNumber}}</span>
    </div> -->

    <div class="posts-counter-container">
      <div class="card">
        <h3> {{postsNumber}} </h3>
        <p>Post(s) By Me</p>
      </div>
    </div>



    <mat-form-field class="user-filter" appearance="outline">
      <mat-label>Find Post</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="eg Mr Durham" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>


      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row" class="text-sm font-medium text-gray-900"> {{row.title}} </td>
      </ng-container>

      <!-- Post's Status Column -->
      <ng-container matColumnDef="postStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.postStatus === 'Completed'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{row.postStatus}}</span>
          <span *ngIf="row.postStatus === 'Rejected'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">{{row.postStatus}}</span>
          <span *ngIf="row.postStatus === 'Removed / Completed'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{row.postStatus}}</span>
          <span *ngIf="row.postStatus === 'Approved'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">{{row.postStatus}}</span>
          <span *ngIf="row.postStatus === 'Pending Approval'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">{{row.postStatus}}</span>
        </td>
      </ng-container>

      <!-- Post's Applicants Column -->
      <ng-container matColumnDef="applicantStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicants </th>

        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.applicantStatus === 'Has Applicants'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-purple-100 text-purple-800">{{row.applicantStatus}}</span>
          <span *ngIf="row.applicantStatus === 'No Applicants'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">{{row.applicantStatus}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"></th>

        <td mat-cell *matCellDef="let row">

          <button
           *ngIf="row.applicantStatus === 'No Applicants'"
            mat-icon-button
            aria-label="No Applicants"
            [disabled]="true">
            <mat-icon>person_search</mat-icon>
          </button>
          <button
           *ngIf="row.applicantStatus === 'Has Applicants'"
            matTooltip="View Applicants" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button
            aria-label="View Applicants"
            (click)="onMoreInfo(applicantContent)">
            <mat-icon class="application-post-card-button-view-applicants">person_search</mat-icon>
          </button>

          <button
            *ngIf="row.postStatus === 'Approved'"
            matTooltip="Mark as Completed" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-button aria-label="Mark as Done"
            (click)="onCompletePrompt(completeContent)">
            <mat-icon class="post-card-footer-button-complete">check_circle_outline</mat-icon>
          </button>
          <button
            *ngIf="row.postStatus !== 'Approved'"
            mat-button aria-label="Mark as Done disabled"
            [disabled]="true">
            <mat-icon>check_circle_outline</mat-icon>
          </button>

          <button matTooltip="More Information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-button color="primary" aria-label="Learn More" class="post-card-button" (click)="onMoreInfo(content)">
            <mat-icon color="primary">help_outline</mat-icon>
          </button>

        <button *ngIf="row.postStatus === 'Pending Approval'" matTooltip="Delete Request Forever" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-button color="warn" aria-label="Delete Forever" (click)="onDeletePrompt(deleteUnapprovedContent)">
          <mat-icon color="warn">delete_forever</mat-icon>
        </button>


        <ng-template #content let-modal>

          <!-- This example requires Tailwind CSS v2.0+ -->
          <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="closelearnmore">
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
              ></button>
            </div>
            <div class="px-4 py-3 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{row.title}}
              </h3>

              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                by <i>{{row.orgName}}</i>
              </p>

            </div>

            <div class="border-t border-gray-200">
              <dl>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    About
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <p>{{row.content}}</p>
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Point-Of-Contact's Name
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.POC}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Contact Number
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.phoneNumber}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Email Address
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.email}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Preferred Skillset
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.skills}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Beneficiaries
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.beneficiaries}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Duration
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.startDate | date}} to {{row.endDate | date}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Commitment Information
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.hoursRequired}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Location
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.location || "Not Specified"}}
                  </dd>
                </div>

              </dl>
            </div>
          </div>

        </ng-template>

        <ng-template #deleteUnapprovedContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="btn-close" aria-label="apply" (click)="modal.dismiss('Cross click')">
            </button>
          </div>

          <div class="modal-body">
            <p>Are you sure you want to delete the post?</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="onDelete(row.id) && modal.dismiss('Cross click')">
              Confirm Delete
            </button>

            <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
              Cancel
            </button>
          </div>
        </ng-template>

        <ng-template #applicantContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">{{row.title}}</h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
            </button>
          </div>

          <div class="modal-body">
            <div *ngFor="let student of row.students" class="modal-body-content">

              <div class="modal-body-content-student">
                <p>
                  Student's Name: {{student.name}}
                </p>
                <p>
                  Student's Email: {{student.email}}
                </p>
                <p>
                  Student's Contact: {{student.contact}}
                </p>
                <p>
                  Student's Application: {{student.content}}
                </p>
              </div>


              <div class="modal-body-content-button">
                <button
                *ngIf="!acceptedBefore(row.id, student.email)"
                mat-stroked-button
                color="primary"
                class="modal-body-content-button-accept"
                (click)="acceptApplicant(row.id, student)"
              >
                Accept Applicant
              </button>

              <button
                *ngIf="acceptedBefore(row.id, student.email)"
                mat-stroked-button
                disabled
                color="primary"
                class="modal-body-content-button-accept"
              >
                Accepted
              </button>

              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-light"
              (click)="modal.close('Close click')"
            >
              Close
            </button>
          </div>
        </ng-template>

        <ng-template #completeContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Completion Confirmation</h4>
            <button type="button" class="btn-close" aria-label="complete post modal window"
              (click)="modal.dismiss('Cross click')">
            </button>
          </div>

          <div class="modal-body">
            <p>Confirm that the post request has been completed?</p>

            <form [formGroup]="removeForm">

              <mat-form-field appearance="outline">
                <mat-label>If you are removing the post not because it is completed, please fill in the reason here.
                </mat-label>
                <textarea matInput type="text" [formControl]="removeReasonControl" rows="10"
                  placeholder="Please tell us why you are removing the post. (eg lack of interest in job, job expired, etc)"></textarea>
              </mat-form-field>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="onComplete(row.id) && modal.dismiss('Cross click')">
              Confirm Completion
            </button>

            <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
              Cancel
            </button>
          </div>
        </ng-template>


        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter <b>{{input.value}}</b> or no data at all</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>




  <!--
  <div class="posts-list-container" *ngFor="let post of posts">

      <mat-card class="approve-post-card">
      <mat-card-title> {{ post.title }} </mat-card-title>

      <mat-card-subtitle>
        <mat-icon>create</mat-icon> by {{ post.orgName }}
      </mat-card-subtitle>

      <mat-card-subtitle>
        <mat-icon> person_pin</mat-icon> {{ post.POC }}
      </mat-card-subtitle>

      <mat-card-subtitle>
        <mat-icon>healing</mat-icon> {{ post.beneficiaries }}
      </mat-card-subtitle>

      <mat-card-subtitle>
        <mat-icon>date_range</mat-icon> from {{post.startDate | date}} to {{post.endDate | date}}
      </mat-card-subtitle>

      <mat-card-subtitle>
        <mat-icon>access_time</mat-icon> {{ post.hoursRequired }}
      </mat-card-subtitle>

      <img [src]="post.imagePath">

      <button matTooltip="Click for more information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" mat-icon-button
        color="primary" aria-label="Learn More" class="post-card-button" (click)="onMoreInfo(content)">
        <mat-icon color="primary">help_outline</mat-icon>
      </button>

      <button matTooltip="Click to publish request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
        mat-icon-button aria-label="Publish" (click)="onPublish(post.id, publishContent)">
        <mat-icon class="publish-button">publish</mat-icon>
      </button>


      <button matTooltip="Click to delete request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
        mat-icon-button color="warn" aria-label="Delete Forever" (click)="onDeletePrompt(deleteUnapprovedContent)">
        <mat-icon>delete_forever</mat-icon>
      </button>

      <button matTooltip="Click to reject request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
        mat-icon-button color="warn" aria-label="Reject" (click)="onRejectPrompt(rejectUnapprovedContent)">
        <mat-icon color="warn">block</mat-icon>
      </button>
    </mat-card>

    <ng-template #content let-modal>
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="closelearnmore">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
        </div>

        <div class="px-4 py-3 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{post.title}}
          </h3>

          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            by <i>{{post.orgName}}</i>
          </p>

        </div>

        <div class="border-t border-gray-200">
          <dl>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                About
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.content}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Point-Of-Contact's Name
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.POC}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Email Address
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.email}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Preferred Skillset
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.skills}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Beneficiaries
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.beneficiaries}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Duration
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.startDate | date}} to {{post.endDate | date}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Commitment Information
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.hoursRequired}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Location
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.location || "Not Specified"}}
              </dd>
            </div>

          </dl>
        </div>
      </div>

    </ng-template>

    <ng-template #deleteUnapprovedContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" aria-label="apply" (click)="modal.dismiss('Cross click')">
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete the post?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onDelete(post.id) && modal.dismiss('Cross click')">
          Confirm Delete
        </button>

        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </ng-template>

    <ng-template #rejectUnapprovedContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Reject Confirmation</h4>
        <button type="button" class="btn-close" aria-label="apply" (click)="modal.dismiss('Cross click')">
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to reject the post?</p>

        <form [formGroup]="rejectForm">
          <mat-form-field appearance="outline">
            <mat-label>Reason for rejecting post <i>(Optional)</i></mat-label>
            <textarea matInput type="text" [formControl]="rejectReasonControl" rows="10"
              placeholder="Please record down the reason for rejecting this approved post."></textarea>
          </mat-form-field>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onReject(post.id) && modal.dismiss('Cross click')">
          Confirm Reject
        </button>

        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </ng-template>
  </div>
  -->




</div>

<div class="info-text" *ngIf="hasRequest === false">
  <h1 class="info-text-header">No Post Request</h1>
  <p>
    If an organisation sends a request, it will be shown here for your approval!
  </p>
</div>

<!-- SECTION CONTAIMING THE MODALS -->
<ng-template #publishContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Publish Success</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <p>Post Published Successfully!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Back
    </button>
  </div>
</ng-template>

<ng-template #studentsReport let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{post.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let report of post.reports">
      <p>Email: {{report.email}}</p>
      <p>Contact Number: {{report.contact}}</p>
      <p>Reason for Reporting: {{report.content}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
      Close
    </button>
  </div>
</ng-template>



<!-- <div class="centered" *ngFor="let post of posts">
    <section class="cards" *ngIf="!post.approved">
      <mat-card class="request-post-card">
        <img *ngIf="!post.imagePath" mat-card-image class="card-image"
          src="../../../assets/placeholder-{{post.beneficiaries}}.png" alt="Placeholder image for post" />

        <img *ngIf="post.imagePath" mat-card-image class="card-image" [src]="post.imagePath" alt="Post's image" />

        <mat-card-title class="post-card-title">{{post.title}}</mat-card-title>
        <mat-card-subtitle class="post-card-subtitle">
          by <b>{{post.orgName}}</b>
        </mat-card-subtitle>
        <mat-card-content class="post-card-content">
          <mat-icon>event</mat-icon> {{post.startDate | date}} to
          {{post.endDate | date}} <br />
          <mat-icon>schedule</mat-icon> {{post.hoursRequired}} <br />
          <mat-icon> location_on</mat-icon>
          {{post.location || "No Specific Location"}} <br />
          <mat-icon>people_outline</mat-icon> Skillsets:
          {{post.skills}}
          <br />
        </mat-card-content>

        <mat-card-footer class="post-card-footer">
          <button matTooltip="Click to publish request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button aria-label="Publish" (click)="onPublish(post.id, publishContent)">
            <mat-icon class="publish-button">publish</mat-icon>
          </button>


          <button matTooltip="Click to delete request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="warn" aria-label="Delete Forever" (click)="onDeletePrompt(deleteUnapprovedContent)">
            <mat-icon>delete_forever</mat-icon>
          </button>

          <button matTooltip="Click to reject request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="warn" aria-label="Reject" (click)="onRejectPrompt(rejectUnapprovedContent)">
            <mat-icon color="warn">block</mat-icon>
          </button>

          <button matTooltip="Click for more information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="primary" aria-label="Learn More" (click)="onMoreInfo(content)">
            <mat-icon color="primary">
              help_outline
            </mat-icon>

          </button>
        </mat-card-footer>
      </mat-card>
    </section>


  </div>

   -->
