<div class="change-password-container">
    <mat-card class="change-password-card">

        <mat-card-title class="change-password-title">Change Password</mat-card-title>

        <mat-card-content class="change-password-body">
          <form [formGroup]="changePasswordForm">

            <div class="change-password-form-container">
              <mat-form-field appearance="outline" class="change-password-form-field">
                <input
                matInput
                class="form-input"
                [type]="changePasswordForm.value.showCurrentPassword ? 'text' : 'password'"
                [formControl]="currentPasswordControl"
                name="currentPassword"
                required
                placeholder="Current Password"/>
                <mat-error *ngIf="currentPasswordControl.errors?.invalid">Please enter your current password.</mat-error>
              </mat-form-field>

              <div class="show-password-checkbox-container">
                <mat-checkbox class="show-password-checkbox"[formControl]="showCurrentPasswordControl">Show Current Password</mat-checkbox>
              </div>
            </div>


            <div class="change-password-form-container">
              <mat-form-field appearance="outline" class="change-password-form-field">
                <input
                matInput
                class="form-input"
                [type]="changePasswordForm.value.showNewPassword ? 'text' : 'password'"
                [formControl]="newPasswordControl"
                name="newPassword"
                required
                placeholder="New Password"/>
                <mat-error *ngIf="newPasswordControl.errors?.invalid">Please enter your new password.</mat-error>
              </mat-form-field>

            </div>

            <div class="change-password-form-container">
              <mat-form-field appearance="outline" class="change-password-form-field">
                <input
                matInput
                class="form-input"
                [type]="changePasswordForm.value.showNewPassword ? 'text' : 'password'"
                [formControl]="newPasswordConfirmControl"
                name="newPasswordConfirm"
                required
                placeholder="Confirm New Password"/>
                <mat-error *ngIf="newPasswordConfirmControl.errors?.invalid">Please enter confirm your new password.</mat-error>
              </mat-form-field>

              <div class="show-password-checkbox-container">
                <mat-checkbox class="show-password-checkbox"[formControl]="showNewPasswordControl">Show New Password</mat-checkbox>
              </div>
            </div>

          </form>
        </mat-card-content>


        <mat-card-footer class="change-password-footer">

          <mat-error *ngIf="!(newPasswordControl.value === newPasswordConfirmControl.value)">
            Please ensure that your new password and the confirm new password matches
          </mat-error>

          <button
          *ngIf="!(newPasswordControl.value === newPasswordConfirmControl.value) || !newPasswordControl.value || !newPasswordConfirmControl.value"
          mat-raised-button
          disabled
          class="change-password-form-button">
            Change Password
          </button>

          <button
          *ngIf="(newPasswordControl.value === newPasswordConfirmControl.value) && newPasswordControl.value && newPasswordConfirmControl.value"
          mat-raised-button color="primary"
          class="change-password-form-button"
            (click)="onChangePassword()">
            Change Password
          </button>

        </mat-card-footer>

      </mat-card>
</div>
