/* CHANGE PASSWORD
-------------------------------------------------- */
.changePassword {

  width: 50% !important;
  margin: auto !important;
  padding: 10px !important;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  border-style: solid;
  border-width: thin;
  border-color: #ffacac;
  box-shadow: none;

}

.changePassword-formField {
  margin-left: 1rem;
  margin-right: 1rem;
}

.alert {
  padding: 20px;
  background-color: #94f1a2 !important;
  color: white;
  margin-bottom: 15px;
}


/* JOBS PENDING APPROVAL CARDS
-------------------------------------------------- */
.request-post-card {
  width: 25rem;
  height: 15rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-style: solid;
  border-width: thin;
  border-color: #57ff57;
  box-shadow: none;
}

mat-card-title {
  text-overflow: ellipsis;
  width: 22rem;
  max-width: 22rem;
  height: 1.7rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
}

mat-card-subtitle {
  height: 3.5rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(88, 88, 88);
}

mat-card-content {
  text-overflow: ellipsis;
  width: 22rem;
  max-width: 22rem;
  height: 3rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #777777;
}

mat-card-footer {
  width: auto;
}

/* JOBS WITH REPORTS CARDS
-------------------------------------------------- */
.report-post-card {
  width: 25rem;
  height: 15rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-style: solid;
  border-width: thin;
  border-color: #ff0000;
  box-shadow: none;
}

/* MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  color: black !important;
}

.modal-body {
  color: black !important;
}

.modal-footer {
  color: black !important;
}

.modal-body-report {
  border: thin solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}


/* MISCELLANEOUS
-------------------------------------------------- */
.info-text {
  text-align: center;
  color: black !important;
}

/* SMALL SCREEN SIZE //TODO: NOT DONE YET
-------------------------------------------------- */
@media screen {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
