<div class="changePasswordBar">
  <mat-card [style]="{ 'background-color': '#203647' }">
    <form #changePasswordForm="ngForm">
      <mat-form-field appearance="outline" [style]="{'margin-left': '0.5rem', 'margin-right': '0.5rem', 'color' : 'white'}">
        <input
          matInput
          [type]="hideCurrentPassword ? 'password' : 'text'"
          ngModel
          name="currentPassword"
          required
          #currentPassword="ngModel"
          placeholder="Current Password"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCurrentPassword"
        >
          <mat-icon>{{
            hideCurrentPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="currentPassword.invalid"
          >Please enter your current password.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" [style]="{'margin-left': '0.5rem', 'margin-right': '0.5rem', 'color' : 'white'}">
        <input
          matInput
          [type]="hideNewPassword ? 'password' : 'text'"
          ngModel
          name="newPassword"
          required
          #newPassword="ngModel"
          placeholder="New Password"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPassword"
        >
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="newPassword.invalid"
          >Please provide us with your new password.</mat-error
        >
      </mat-form-field>

      <button
        class="btn btn-outline-primary mb-2 mr-2"
        (click)="onChangePassword(changePasswordForm)"
      >
        Request
      </button>
    </form>
  </mat-card>
</div>

<div
  *ngIf="requestedNewPassword"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <strong>Password changed!</strong>
  <button
    (click)="closeNotification()"
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div>
  <p
    class="info-text mat-body-1"
    *ngIf="hasRequest"
    [style]="{ color: 'white' }"
  >
    <b>Posts that needs to be approved!</b>
  </p>

  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="5.0%"
    fxLayoutAlign="center"
  >
    <div class="centered" *ngFor="let post of posts">
      <section class="cards" *ngIf="!post.approved">
        <p-card
          class="card"
          [style]="{
            width: '25rem',
            height: '15rem',
            'text-align': 'center',
            'background-color': '#2e2b12',
            color: 'white'
          }"
          styleClass="p-card-shadow"
          *ngIf="!post.approved"
        >
          <p-card-header
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '1.7rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: 'white',
              'font-size': '1.5rem'
            }"
          >
            <b>{{ post.title }}</b>
          </p-card-header>

          <p-card-subheader
            [style]="{
              height: '3.5rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
          >
            {{ post.startDate | date }} to {{ post.endDate | date }}
          </p-card-subheader>

          <p-card-content
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '3rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
            >{{ post.content }}
          </p-card-content>

          <ng-template pTemplate="footer" #footer>
            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onPublish(post.id, publishContent)"
            >
              Publish
            </button>

            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onMoreInfo(content)"
            >
              Learn More
            </button>

            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onDeletePrompt(deleteUnapprovedContent)"
            >
              Delete
            </button>
          </ng-template>
        </p-card>
      </section>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ post.title }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>Organization Name: {{ post.orgName }}</p>
          <p>UEN: {{ post.uen }}</p>
          <p>Point of Contact (POC): {{ post.POC }}</p>
          <p>POC's phoneNumber: {{ post.phoneNumber }}</p>
          <p>POC's email: {{ post.email }}</p>
          <p>Brief Description for gig: {{ post.content }}</p>
          <p>Preferred Skills: {{ post.skills }}</p>
          <p>Start Date: {{ post.startDate | date }}</p>
          <p>End Date: {{ post.endDate | date }}</p>
          <p>Commitment Hours: {{ post.hoursRequired }}</p>
          <p>Beneficiaries: {{post.beneficiaries}} </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
        </div>
      </ng-template>


      <ng-template #deleteUnapprovedContent let-modal>
        <div
          class="modal-header"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >
          <h4 class="modal-title">Delete Confirmation</h4>
          <button
            type="button"
            class="submit"
            aria-label="apply"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          class="modal-body"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >
        <p>Are you sure you want to delete the post?</p>
        </div>

        <div
          class="modal-footer"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >

        <button
            type="button"
            class="btn btn-light"
            (click)="
            onDelete(post.id) && modal.dismiss('Cross click')
            "
          >
            Confirm Delete
          </button>

          <button
            type="button"
            class="btn btn-light"
            (click)="modal.dismiss('Cross click')"
          >
            Cancel
          </button>
        </div>
      </ng-template>




    </div>
  </div>

  <p
    class="info-text mat-body-1"
    *ngIf="!hasRequest"
    [style]="{ color: 'white' }"
  >
    No post request!
  </p>
</div>

<div>
  <p class="info-text mat-body-1" [style]="{ color: 'white' }">
    <b>Posts with reports! :O</b>
  </p>

  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="5.0%"
    fxLayoutAlign="center"
  >
    <div class="centered" *ngFor="let post of posts">
      <section class="cards" *ngIf="post.reports.length > 0">
        <p-card
          class="card"
          [style]="{
            width: '25rem',
            height: '15rem',
            'text-align': 'center',
            'background-color': '#2e1215',
            color: 'white'
          }"
          styleClass="p-card-shadow"
        >
          <p-card-header
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '1.7rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: 'white',
              'font-size': '1.5rem'
            }"
          >
            <b>{{ post.title }}</b>
          </p-card-header>

          <p-card-subheader
            [style]="{
              height: '3.5rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
          >
            {{ post.startDate | date }} to {{ post.endDate | date }}
          </p-card-subheader>

          <p-card-content
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '3rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
            >{{ post.content }}
          </p-card-content>

          <ng-template pTemplate="footer" #footer>
            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onMoreInfo(reportContent)"
            >
              Read Report
            </button>

            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onMoreInfo(content)"
            >
              Learn More
            </button>

            <button
              class="btn btn-outline-primary mb-2 mr-2"
              (click)="onDeletePrompt(deleteReportedContent)"
            >
              Delete
            </button>

            <!--
            <p-button
              class="deleteButton"
              label="Delete"
              icon="pi pi-times"
              styleClass="p-button-secondary"
              (click)="onDeleteReportedPost(post.id)"
            ></p-button>
            -->
          </ng-template>
        </p-card>
      </section>

      <ng-template #reportContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ post.title }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let report of post.reports">
            <div style="border: thin solid black">
              <p style="text-align: center">
                Student's Email: {{ report.email }}
              </p>
              <p style="text-align: center">
                Student's Contact: {{ report.contact }}
              </p>
              <p style="text-align: center">
                Student's Report: {{ report.content }}
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
        </div>
      </ng-template>

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{ post.title }}</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <p>Organization Name: {{ post.orgName }}</p>
          <p>UEN: {{ post.uen }}</p>
          <p>Point of Contact (POC): {{ post.POC }}</p>
          <p>POC's phoneNumber: {{ post.phoneNumber }}</p>
          <p>POC's email: {{ post.email }}</p>
          <p>Brief Description for gig: {{ post.content }}</p>
          <p>Preferred Skills: {{ post.skills }}</p>
          <p>Start Date: {{ post.startDate | date }}</p>
          <p>End Date: {{ post.endDate | date }}</p>
          <p>Commitment Hours: {{ post.hoursRequired }}</p>
          <p>Beneficiaries: {{post.beneficiaries}} </p>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light"
            (click)="modal.close('Close click')"
          >
            Close
          </button>
        </div>
      </ng-template>


      <ng-template #deleteReportedContent let-modal>
        <div
          class="modal-header"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >
          <h4 class="modal-title">Delete Confirmation</h4>
          <button
            type="button"
            class="submit"
            aria-label="apply"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div
          class="modal-body"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >
        <p>Are you sure you want to delete the post?</p>
        </div>

        <div
          class="modal-footer"
          [style]="{
            color: 'white',
            'background-color': '#203647'
          }"
        >

        <button
            type="button"
            class="btn btn-light"
            (click)="
            onDeleteReportedPost(post.id) && modal.dismiss('Cross click')
            "
          >
            Confirm Delete
          </button>

          <button
            type="button"
            class="btn btn-light"
            (click)="modal.dismiss('Cross click')"
          >
            Cancel
          </button>
        </div>
      </ng-template>



    </div>
  </div>

  <p
    class="info-text mat-body-1"
    *ngIf="!hasReport"
    [style]="{ color: 'white' }"
  >
    No post with reports! :D
  </p>
</div>

<ng-template #publishContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Publish Success</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Post Published Successfully!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Back
    </button>
  </div>
</ng-template>

<ng-template #studentsReport let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ post.title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let report of post.reports">
      <p>Email: {{ report.email }}</p>
      <p>Contact Number: {{ report.contact }}</p>
      <p>Reason for Reporting: {{ report.content }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
