/* CHANGE PASSWORD
-------------------------------------------------- */
.changePassword {
  width: 50% !important;
  margin: auto !important;
  padding: 10px !important;
  background-color: #ff57576b !important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.changePassword-formField {
  margin-left: 1rem;
  margin-right: 1rem;
}

.alert {
  padding: 20px;
  background-color: #94f1a2 !important;
  color: white;
  margin-bottom: 15px;
}


/* JOBS PENDING APPROVAL CARDS
-------------------------------------------------- */
.card {
  width: 25rem;
  height: 15rem;
  text-align: center;
  background-color: #FF5757;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black !important;
}

/* affects report cards too */
.footer {
  width: auto;
}



/* JOBS WITH REPORTS CARDS
-------------------------------------------------- */

/* MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  color: black !important;
}

.modal-body {
  color: black !important;
}

.modal-footer {
  color: black !important;
}

.modal-body-report {
  border: thin solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}


/* MISCELLANEOUS
-------------------------------------------------- */
.info-text {
  text-align: center;
  color: black !important;
}

/* SMALL SCREEN SIZE //TODO: NOT DONE YET
-------------------------------------------------- */
@media screen {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
