mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

input[type="file"] {
  visibility: hidden;
}

.card-body {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.image-preview {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-preview img {
  max-width: 75%;
  height: auto;
}

.highlight-create-button {
  display: flex;
  justify-content: flex-end;
}

.highlight-create-button-submit {
  color: #05b80e;
}

mat-card {
  width: 80%;
  margin: auto;
  padding: 10px;


  /*
  border-style: solid;
  border-width: thin;
  border-color: #4da8da;
  box-shadow: none;
  */
}

.highlight-create-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
}

