<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" *ngIf="!isLoading" #signupForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        required
        #emailInput="ngModel"
        placeholder="Email Address"
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email address.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        required
        #passwordInput="ngModel"
        placeholder="Password"
      />
      <mat-error *ngIf="passwordInput.invalid"
        >Please enter a valid password.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>User Role</mat-label>
      <mat-select ngModel required #roleInput="ngModel" name="role">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ role }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="roleInput.invalid"
        >Please select the user's role.</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Signup</button>
  </form>
</mat-card>
