.signup-card-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width:100%;
}

mat-spinner {
  margin: auto;
}

.signup-card-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: inherit;
}

.signup-card-body {
  width: 25%;
  margin: auto;
  box-shadow: none;

  background-color: inherit;
  color: inherit;

  /*
  border-style: solid;
  border-width: thin;
  border-color: #4da8da;
  box-shadow: none;
  */
}

.copyright {
  text-align: center;
}

.signup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
