div {
  margin-top: 2rem;
}

mat-form-field {
  width:100%;
}

mat-spinner {
  margin: auto;
}

mat-card {
  width: 60%;
  margin: auto;
}


/*
 * For the role selection for user creation. Still need to combine w styling at html level
.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #7D7D7D;
}

::ng-deep .mat-select-arrow {
  color: #4da8da !important;
}

::ng-deep .mat-select-value {
  color: #EEFBFB !important;
}

.mat-select-value::placeholder {
  color: #EEFBFB !important;
}

mat-icon {
  color: #4da8da;
}
*/
