<mat-toolbar>

  <mat-toolbar-row>
    <span class="logo" *ngIf="userIsAuthenticated">
      <img src="assets/Orbital-Logo-Design.png" alt="Logo of CCSGP">
    </span>
    <span class="spacer-row-1"></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <a mat-stroked-button class="light-button" routerLink="/login" routerLinkActive="mat-primary"> Login </a>
        <a mat-stroked-button class="light-button" routerLink="/signup" routerLinkActive="mat-primary"> Signup </a>
      </li>

      <li *ngIf="userIsAuthenticated">
        <button mat-stroked-button class="light-button" (click)="onLogout()">Logout</button>
      </li>

    </ul>
  </mat-toolbar-row>



  <mat-toolbar-row>
    <span class="spacer-row-2"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/feed" routerLinkActive="mat-primary"> Feed</a>

        <a *ngIf="userIsAuthenticated && (authStatusObject.role === 'Admin')" mat-button routerLink="/admin" routerLinkActive="mat-primary"> Admin Dashboard</a>
        <a *ngIf="userIsAuthenticated && ((authStatusObject.role === 'External Organisation') || (authStatusObject.role === 'Student Organisation'))" mat-button routerLink="/organisation" routerLinkActive="mat-primary"> {{authStatusObject.orgName}} Dashboard</a>
        <a *ngIf="userIsAuthenticated && ((authStatusObject.role === 'Student') || (authStatusObject.role === 'Student / NUS Alumni'))" mat-button routerLink="/student-alumni" routerLinkActive="mat-primary"> Student / Alumni Dashboard</a>
      </li>


      <li *ngIf="userIsAuthenticated && (authStatusObject.role === 'Admin')">
        <a mat-button routerLink="/signupAdmin" routerLinkActive="mat-primary"> Signup for others </a>
      </li>

      <li *ngIf="(userIsAuthenticated) && (authStatusObject.role === 'Admin')">
        <a mat-button routerLink="/createAdmin"
        routerLinkActive="mat-primary"
        > Create Job Posting</a>
      </li>

      <li *ngIf="(userIsAuthenticated) && ((authStatusObject.role === 'External Organisation') || (authStatusObject.role === 'Student Organisation'))">
        <a mat-button routerLink="/create"
        routerLinkActive="mat-primary"
        > Create Job Posting</a>
      </li>




    </ul>
    <span class="spacer-row-2"></span>
  </mat-toolbar-row>
</mat-toolbar>
