/* TOOLBAR GLOBAL
-------------------------------------------------- */

.top-bar {
  /* */
  background-color:#F2545B;
  color: white;
  padding-top: 2rem;
  margin-top: 0rem;
  border: none;
  
}

.login-logout-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  size: auto;
}
.user-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-stroked-button {
  line-height: 0px !important;
  padding: 12px 10px 10px 10px !important;
  margin-left: .5rem;
  margin-right: .5rem;
}

.logo {
  margin-left: 2rem;
}

.logo img {
  width: 80px;
  width: 80px;
  object-fit: cover;
}


/* TOOLBAR LOGIN / LOGOUT / SIGNUP
-------------------------------------------------- */
.light-button {
  height: 50px;
  width: 150px;
  font-size: 110%;
  border: 2px solid #f8f8ff6e;

  /*
  color: rgba(0, 0, 0, 0.726);
  */

  margin-left: .5rem;
  margin-right: .5rem;
}

.light-button:hover {
  background-color: #F2545B;

  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


/* TOOLBAR USER OPTIONS
-------------------------------------------------- */

button {
  text-decoration: none;

  /*
  color: rgba(0, 0, 0, 0.521);
  */
  color: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* background-color: #dbe9f4; */
}

a {

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: large;
}

.spacer-row-1 {
  flex: 1 1 auto;
}

.spacer-row-2 {
  flex: 1 1 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: auto;
}



.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}



/* a {
  color: black;
  height: fit-content;
  font-size: larger;
} */

.nav-button {
  color: transparent;
  outline: 0;
  background: transparent;
}

.real-toolbar {
  background-color: #F2545B;
  width: 14.5%;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 25px;
}

.toolbar-buttons {
  color: white;
}
