<!-- <mat-toolbar>
  <mat-toolbar-row class="login-logout-signup" >
    <span class="logo">
      <a
        href="http://ccsgp-portal.s3-website-ap-southeast-1.amazonaws.com/"
        target="_blank"
        title="homepage"
        class="logo"
      >
        <img src="assets/Orbital-Logo-Design-White.png" alt="Logo of CCSGP"/>
      </a>
    </span>
    <span class="spacer-row-1"></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <button
          mat-stroked-button
          class="light-button"
          routerLink="/login"
          routerLinkActive="mat-primary"
        >
          Login
        </button>
        <button
          mat-stroked-button
          class="light-button"
          routerLink="/signup"
          routerLinkActive="mat-primary"
        >
          Signup
        </button>
      </li>

      <li *ngIf="userIsAuthenticated">
        <button mat-stroked-button class="light-button" (click)="onLogout()">
          Logout
        </button>
      </li>
    </ul>

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="user-tabs" fxShow="true" fxHide.lt-md="true">
    <span class="spacer-row-2"></span>
    <ul class="ul-toolbar">
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/feed" routerLinkActive="mat-primary">
          Feed</a
        >

        <a
          *ngIf="userIsAuthenticated && authStatusObject.admin"
          mat-button
          routerLink="/admin"
          routerLinkActive="mat-primary"
        >
          Admin Dashboard</a
        >
        <a
          *ngIf="
            userIsAuthenticated &&
            (authStatusObject.role === 'External Organisation' ||
              authStatusObject.role === 'Student Organisation')
          "
          mat-button
          routerLink="/organisation"
          routerLinkActive="mat-primary"
        >
          {{ authStatusObject.orgName }} Dashboard</a
        >
        <a
          *ngIf="
            userIsAuthenticated &&
            (authStatusObject.role === 'Student' ||
              authStatusObject.role === 'Student / NUS Alumni')
          "
          mat-button
          routerLink="/student-alumni"
          routerLinkActive="mat-primary"
        >
          Student / Alumni Dashboard</a
        >
      </li>

      <li *ngIf="userIsAuthenticated && authStatusObject.admin">
        <a mat-button routerLink="/signupAdmin" routerLinkActive="mat-primary">
          Signup for others
        </a>
      </li>

      <li *ngIf="userIsAuthenticated && authStatusObject.admin">
        <a mat-button routerLink="/createAdmin" routerLinkActive="mat-primary">
          Create Job Posting</a
        >
      </li>

      <li
        *ngIf="
          userIsAuthenticated &&
          (authStatusObject.role === 'External Organisation' ||
            authStatusObject.role === 'Student Organisation')
        "
      >
        <a mat-button routerLink="/create" routerLinkActive="mat-primary">
          Create Job Posting</a
        >
      </li>

      <li *ngIf="userIsAuthenticated && authStatusObject.role === 'Admin'">
        <a
          mat-button
          routerLink="/createHighlight"
          routerLinkActive="mat-primary"
        >
          Create A Highlight</a
        >
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav
  color="primary"
  #sidenav
  fxLayout="column"
  mode="over"
  opened="false"
  fxHide.gt-sm="true"
>
  <div fxLayout="column">
    <a
      *ngIf="userIsAuthenticated"
      mat-button
      routerLink="/feed"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Feed</a
    >

    <a
      *ngIf="userIsAuthenticated && authStatusObject.admin"
      mat-button
      routerLink="/admin"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Admin Dashboard</a
    >
    <a
      *ngIf="
        userIsAuthenticated &&
        (authStatusObject.role === 'External Organisation' ||
          authStatusObject.role === 'Student Organisation')
      "
      mat-button
      routerLink="/organisation"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      {{ authStatusObject.orgName }} Dashboard</a
    >
    <a
      *ngIf="
        userIsAuthenticated &&
        (authStatusObject.role === 'Student' ||
          authStatusObject.role === 'Student / NUS Alumni')
      "
      mat-button
      routerLink="/student-alumni"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Student / Alumni Dashboard</a
    >

    <a
      *ngIf="userIsAuthenticated && authStatusObject.role === 'Admin'"
      mat-button
      routerLink="/signupAdmin"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Signup for others
    </a>

    <a
      *ngIf="userIsAuthenticated && authStatusObject.role === 'Admin'"
      mat-button
      routerLink="/createAdmin"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Create Job Posting
    </a>

    <a
      *ngIf="
        userIsAuthenticated &&
        (authStatusObject.role === 'External Organisation' ||
          authStatusObject.role === 'Student Organisation')
      "
      mat-button
      routerLink="/create"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Create Job Posting
    </a>

    <a
      *ngIf="userIsAuthenticated && authStatusObject.role === 'Admin'"
      mat-button
      routerLink="/createHighlight"
      routerLinkActive="mat-primary"
      (click)="sidenav.close()"
    >
      Create A Highlight</a
    >
  </div>
</mat-sidenav> -->

<!-- <div class="page-container">
  <mat-card class="navbarmatcard">
    <mat-card-title class="nav-bar-title"> OPTIONS </mat-card-title>
    <div class="page-container">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li ngbNavItem="changePassword" class="nav-item">
          <a ngbNavLink>
            <mat-icon>lock</mat-icon>
            Change Password
          </a>
          <ng-template ngbNavContent> </ng-template>
        </li>

        <li ngbNavItem="downloadCSV" class="nav-item">
          <a ngbNavLink>
            <mat-icon>cloud_download</mat-icon>
            Download CSV
          </a>
          <ng-template ngbNavContent> </ng-template>
        </li>

        <li ngbNavItem="postsPendingApproval" class="nav-item">
          <a ngbNavLink>
            <mat-icon>hourglass_empty</mat-icon>
            Posts Pending Approval
          </a>
          <ng-template ngbNavContent>
          </ng-template>
        </li>

        <li ngbNavItem="postsWithReports" class="nav-item">
          <a ngbNavLink>
            <mat-icon>report_problem</mat-icon>
            Posts with reports
          </a>
          <ng-template ngbNavContent> </ng-template>
        </li>

        <li ngbNavItem="changeUserPermissions" class="nav-item">
          <a ngbNavLink>
            <mat-icon>manage_accounts</mat-icon>
            Change User Permissions
          </a>
          <ng-template ngbNavContent> </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="ml-4"></div>
    </div>
  </mat-card>
</div> -->

<!--
<mat-toolbar class="top-bar">
  <span class="logo">
    <a href="http://ccsgp-portal.s3-website-ap-southeast-1.amazonaws.com/" target="_blank" title="homepage"
      class="logo">
      <img src="assets/Orbital-Logo-Design-White.png" alt="Logo of CCSGP" />
    </a>
  </span>
  <mat-toolbar-row>
  </mat-toolbar-row>
</mat-toolbar>
-->


<mat-toolbar class="real-toolbar">
  <mat-toolbar-row class="logo-row">
    <a
      href="https://ccsgp-app.herokuapp.com/"
      target="_blank"
      class="logo toolbar-buttons-common"
      matTooltip="Homepage" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <img src="assets/Orbital-Logo-Design.png" alt="CCSGP's Job Portal Homepage" />
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/feed"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Feed" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Feed">feed</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/create"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Create Job Post" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">

      <mat-icon routerLinkActive="active" alt="Create Job Post">add</mat-icon>

    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated && authStatusObject.admin">
    <a
      mat-button
      routerLink="/createHighlight"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Create Highlight" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Create Highlight"> highlight</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/myPosts"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="My Posts" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="My Posts"> face</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/jobsApplied"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Jobs Applied" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Jobs Applied">send</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/jobsReported"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Jobs Reported" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Jobs Reported">flag</mat-icon>
    </a>
  </mat-toolbar-row>

  <!--
  <mat-toolbar-row></mat-toolbar-row>

  <mat-toolbar-row class="nav-bar-title" *ngIf="userIsAuthenticated"
    >ADMIN</mat-toolbar-row
  >
  -->

  <mat-toolbar-row *ngIf="userIsAuthenticated && authStatusObject.admin">
    <a
      mat-button
      routerLink="/approvePosts"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Pending Approval" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Pending Approval">hourglass_empty</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated && authStatusObject.admin">
    <a
      mat-button
      routerLink="/reportedPosts"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Reports" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Reports">report_problem</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated && authStatusObject.admin">
    <a
      mat-button
      routerLink="/downloadCSV"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Download CSV" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Download CSV">file_download</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated">
    <a
      mat-button
      routerLink="/changePassword"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Change Password" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Change Password">security</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated && !authStatusObject.admin">
    <a
      mat-button
      routerLink="/updateInterests"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Update Interests" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Update Interests">interests</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="userIsAuthenticated && authStatusObject.admin">
    <a
      mat-button
      routerLink="/permissions"
      routerLinkActive="active"
      class="toolbar-buttons-common"
      matTooltip="Permissions" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Permissions">supervisor_account</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="!userIsAuthenticated">
    <a
      mat-button
      routerLink="/login"
      class="toolbar-buttons-common"
      routerLinkActive="active"
      matTooltip="Login" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Login">login</mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="!userIsAuthenticated">
    <a
      mat-button
      routerLink="/signup"
      class="toolbar-buttons-common"
      routerLinkActive="active"
      matTooltip="Signup" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Signup">create</mat-icon>
    </a>
  </mat-toolbar-row>

  <!--
  <mat-toolbar-row></mat-toolbar-row>
  -->

  <mat-toolbar-row>
    <a
      *ngIf="userIsAuthenticated"
      mat-button
      (click)="onLogout()"
      class="toolbar-buttons-common"
      matTooltip="Logout" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100" [matTooltipPosition]="'right'" matTooltipClass="toolbar-tooltip">
      <mat-icon routerLinkActive="active" alt="Logout">logout</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
