<mat-toolbar color="accent">
  <span>Student Guild</span>
  <span class="space"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/feed" routerLinkActive="mat-primary"> Feed</a>


      <a *ngIf="userIsAuthenticated && (role === 'Admin')" mat-button routerLink="/admin" routerLinkActive="mat-primary"> Admin Dashboard</a>
      <a *ngIf="userIsAuthenticated && (role !== 'Admin')" mat-button routerLink="/admin" routerLinkActive="mat-primary"> {{orgName}} Dashboard</a>

    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-primary"> Login </a>
      <a mat-button routerLink="/signup" routerLinkActive="mat-primary"> Signup </a>
    </li>


    <li *ngIf="userIsAuthenticated && (role === 'Admin')">
      <a mat-button routerLink="/signupAdmin" routerLinkActive="mat-primary"> Signup for others </a>
    </li>


    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-primary"> Create Job Posting</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
