/* TOOLBAR GLOBAL
-------------------------------------------------- */
mat-toolbar {
  background-color: white;
  margin-top: 2rem;
}

mat-stroked-button {
  line-height: 0px !important;
  padding: 12px 10px 10px 10px !important;
  margin-left: .5rem;
  margin-right: .5rem;
}

.logo {
  margin-left: 2rem;
}

.logo img {
  width: 5%;
  height: 8%;
}


/* TOOLBAR LOGIN / LOGOUT / SIGNUP
-------------------------------------------------- */
.light-button {
  height: 50px;
  width: 150px;
  font-size: 110%;
  border: 2px solid #da4d4d !important;
  color: rgba(0, 0, 0, 0.726);
  margin-left: .5rem;
  margin-right: .5rem;
}

.light-button:hover {
  background-color: #da4d4d;

  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


/* TOOLBAR USER OPTIONS
-------------------------------------------------- */
button {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.521);
  font-size: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* background-color: #dbe9f4; */
}

.spacer-row-1 {
  flex: 1 1 auto;
}

.spacer-row-2 {
  flex: 1 1 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: auto;
}

