

<!-- <p>STUDENT's board is supposed to be here!!!!!</p> -->
<div class="change-password-card">
  <mat-card class="mat-elevation-z0 change-password-body">

    <mat-card-title class="change-password-title">Change Password</mat-card-title>

    <form #changePasswordForm="ngForm" class="changePasswordForm">
      <mat-form-field
        appearance="outline"
        class="change-password-form-field"
      >
        <input
          matInput
          class="change-password-form-input"
          [type]="hideCurrentPassword ? 'password' : 'text'"
          ngModel
          name="currentPassword"
          required
          #currentPassword="ngModel"
          placeholder="Current Password"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCurrentPassword"
        >
          <mat-icon>{{
            hideCurrentPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="currentPassword.invalid"
          >Please enter your current password.</mat-error
        >
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="change-password-form-field"
      >
        <input
          matInput
          class="change-password-form-input"
          [type]="hideNewPassword ? 'password' : 'text'"
          ngModel
          name="newPassword"
          required
          #newPassword="ngModel"
          placeholder="New Password"
        />

        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPassword"
        >
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="newPassword.invalid"
          >Please provide us with your new password.</mat-error
        >
      </mat-form-field>

      <button
        class="btn btn-outline-primary mb-2 mr-2"
        (click)="onChangePassword(changePasswordForm)"
      >
        Change Password
      </button>
    </form>

    <div
      *ngIf="requestedNewPassword"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <strong>Password changed!</strong>
      <button
        (click)="closeNotification()"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </mat-card>
</div>
