/* GLOBAL
-------------------------------------------------- */
.post-create-card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: inherit;
}

mat-card-title {
  text-align: center;
}

.post-create-body {
  width: 60%;
  margin: auto;
  box-shadow: none;


  background-color: inherit;
  color: inherit;

  /*
  border-style: solid;
  border-width: thin;
  border-color: #4da8da;
  box-shadow: none;
  */
}

.post-create-stepper {
  width: 100%;
  margin: auto;
  box-shadow: none;


  background-color: inherit;
  color: inherit;
}

.copyright {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

mat-error {
  float: left;
}

.step-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.step-footer-button-next {
  border-color: inherit;
  color: #5c8aee;
  margin-left: 1rem;
}

.step-footer-button-back {
  margin-left: 1rem;
}

.step-footer-button-reset {
  margin-left: 1rem;
}

/* TERMS AND CONDITIONS
-------------------------------------------------- */
.toc-header {
  color: inherit;
}

.toc-body {
  color: inherit;
  margin: none;
}

.toc-footer {
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* FILE PICKER
-------------------------------------------------- */
input[type="file"] {
  visibility: hidden;
}

.image-preview {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.image-preview img {
  max-width: 75%;
  height: auto;
}


/* POST PREVIEW
-------------------------------------------------- */
.post-preview {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
}

.published-post-card {
  width: 25rem;
  height: 35rem;

  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.published-post-card:hover {
  box-shadow: 0 0 11px #394dffda;
}

.card-image {
  height: 50%;
  overflow: hidden;
  object-fit: cover;
}


.post-card-title {

  /*
   * CANNOT USE LATO OR ELSE SOME PART OF THE FONT GETS CUT OFF
  font-family: "Lato", sans-serif;
  */

  text-overflow: ellipsis;

  width: 22rem;
  max-width: 22rem;
  height: 1.7rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
}

.post-card-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 120%;

  width: 22rem;
  max-width: 22rem;
  height: 2rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(88, 88, 88);
}

mat-icon {
  position: relative;
  top: 6px;
}

.post-card-content {
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;
  width: 22rem;
  max-width: 22rem;
  height: 8rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #777777;
  text-align: center;
}

.post-card-footer {
  width: 22rem;
  max-width: 22rem;
  font-family: 'Lato', sans-serif;
  align-items: center;
  flex: auto;
  margin: auto;
}

.post-card-footer-button {
  margin: 5px 5px 5px 0;
}

.post-footer {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  justify-content: center;
}

.post-button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  color: black;
}

.modal-body {
  color: black;
  margin: none;
}

.modal-footer {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* MISCELLANEOUS
-------------------------------------------------- */
.form-input::placeholder {
  color: inherit;
  opacity: 0.5;
}

.image-upload-button {
  color: inherit;
  border-color: #5c8aee;
}

.nav-button {
  margin-left: 1rem;
}

