<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body>
    <img alt="Forget Password Logo" src="cid:forgetPasswordLogo">
    <p style="font-size: 14px; font-weight: normal">
      We have reset your password to be your email. Your temporary password is: <b>{{tempPassword}}</b>. Please login and change it under your dashboard section. Thank you!
    </p>

    <span>This text is supposed to test if CSS is working.</span>

    <p style="border: 5rem; text-align: right;">This text is supposed to test using in-line styling.</p>
  </body>
</html>
