<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
  </head>
  <body>
    <img src="forgot-password.png" alt="Forget Password Logo">
    <p style="font-size: 14px; font-weight: normal">
      We have reset your password to be your email. Your temporary password is: <b>{{tempPassword}}</b>. Please login and change it under your dashboard section. Thank you!
    </p>

    <span>This text is supposed to be big to test if CSS is working.</span>
  </body>
</html>
