/* 
.w3-container {
    box-shadow: none; 
    background-color: inherit; 
    color: inherit;
}

body {
    background-color: inherit;
    color: inherit;
  } */

img {
    margin: auto;
    display: block;
    margin-top: 10%;
}

.text {
    position: relative;
    width: 50%;
    left: 20%;
    text-align: justify;
}

.title {
    font-family: 'Raleway';
    font-size: xx-large;
    margin-top: 10%;
}

.content {
    font-family: 'Raleway';
    font-size: large;
}

button {
    left: 20%;
}

.everything {
    display: block;
    margin: 0 auto;
}

