<div class="filterBar">
<ng-container>
  <mat-form-field appearance="outline">
    <mat-label>Beneficiaries</mat-label>
    <mat-select multiple ngModel #beneficiariesInput="ngModel" name="beneficiariesSelected" [(ngModel)]="beneficiariesSelected">
      <mat-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary">{{beneficiary}}</mat-option>
    </mat-select>
  </mat-form-field>

<mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input
          matStartDate
          placeholder="Start date"
          ngModel
          [(ngModel)]="startDate"
          name="startDate"

        />
        <input
          matEndDate
          placeholder="End date"
          [(ngModel)]="endDate"
          name="endDate"

        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker touchUi>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDateRangePickerApply>
            Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>


    <p-button
      class="filterButton"
      label="Filter Search Results"
      icon="pi pi-filter"
      styleClass="p-button-info"
      (click)="submitFilter()"
    ></p-button>

</ng-container>
</div>



<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5.0%" fxLayoutAlign="center">


  <ng-container *ngFor="let post of filteredPosts">
    <div class="centered">
      <section class="cards">
        <p-card
          class="card"
          header="{{ post.title }}"
          subheader="{{ post.startDate | date }} to {{ post.endDate | date }}"
          [style]="{
            width: '25rem',
            'margin-bottom': '2em',
            'text-align': 'center'
          }"
          styleClass="p-card-shadow"
          *ngIf="post.approved"
        >
          <p>{{ post.content }}</p>
          <ng-template pTemplate="footer" #footer>

            <p-button
              *ngIf="(userRole === 'Student')"
              class="apply"
              label="Report"
              icon="pi pi-heart"
              styleClass="p-button-info"
              (click)="onReport(post.id, 'You reported this post before!', reportContent)"
            ></p-button>




            <p-button
              *ngIf="(userRole === 'Student')"
              class="apply"
              label="Apply"
              icon="pi pi-heart"
              styleClass="p-button-info"
              (click)="onApply(post.id, 'You have applied to this post before!', studentContent)"
            ></p-button>


            <p-button
              class="learnMore"
              label="Learn More"
              icon="pi pi-search-plus"
              styleClass="p-button-info"
              (click)="onMoreInfo(content)"
            ></p-button>

            <p-button
              *ngIf="(userRole === 'Admin') || (post.uen === authStatusObject.uen)"
              class="delete"
              label="Delete"
              icon="pi pi-times"
              styleClass="p-button-secondary"
              (click)="onDelete(post.id)"
            ></p-button>
          </ng-template>
        </p-card>
      </section>
    </div>

    <ng-template #messageForStudent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Publish Success</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Post Published Successfully!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Back</button>
      </div>
    </ng-template>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{post.title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Organization Name: {{post.orgName}}&hellip;</p>
        <p>UEN: {{post.uen}}&hellip;</p>
        <p>Point of Contact (POC): {{post.POC}}&hellip;</p>
        <p>POC's phoneNumber: {{post.phoneNumber}}&hellip;</p>
        <p>POC's email: {{post.email}}&hellip;</p>
        <p>Brief Description for gig: {{post.content}}&hellip;</p>
        <p>Preferred Skills: {{post.skills}}&hellip;</p>
        <p>Start Date: {{post.startDate | date}}&hellip;</p>
        <p>End Date: {{post.endDate | date}}&hellip;</p>
        <p>Commitment Hours: {{post.hoursRequired}}&hellip;</p>
        <p>Beneficiaries: {{post.beneficiaries}}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>


    <ng-template #error let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Applied Before</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
      </div>
      <div class="modal-body">
        <p>you applied for this before&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>

    <ng-template #studentContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{post.title}} Application </h4>
        <button type="button" class="submit" aria-label="apply" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="submitApplication(post.id, appForm)" #appForm="ngForm">

          <mat-form-field appearance="outline">
            <input
            matInput
            type="text"
            ngModel
            name="contactNumber"
            required
            #contactNumber="ngModel"
            placeholder="Contact number"
            required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
            matInput
            type="text"
            ngModel
            name="message"
            required
            #message="ngModel"
            placeholder="Message to organisation"
            required>
          </mat-form-field>

        </form>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-light"
        (click)="submitApplication(post.id, appForm) && modal.dismiss('Cross click')"
        >Submit Application
        </button>
      </div>
    </ng-template>










    <ng-template #reportContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Report post: {{post.title}} </h4>
        <button type="button" class="submit" aria-label="apply" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="submitReport(post.id, reportForm)" #reportForm="ngForm">

          <mat-form-field appearance="outline">
            <input
            matInput
            type="text"
            ngModel
            name="contactNumber"
            required
            #contactNumber="ngModel"
            placeholder="Contact number"
            required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input
            matInput
            type="text"
            ngModel
            name="message"
            required
            #message="ngModel"
            placeholder="Message to organisation"
            required>
          </mat-form-field>

        </form>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-light"
        (click)="submitReport(post.id, reportForm) && modal.dismiss('Cross click')"
        >Submit Report
        </button>
      </div>
    </ng-template>


















  </ng-container>


</div>
<p class="info-text mat-body-1" *ngIf="!hasApproved">No jobs listing currently available!</p>
