:host {
  display: block;
  margin-top: 1rem;
}

/*
 * For Beneficiaries and DatePicker styling
*/
.mat-select-arrow {
  color: #4da8da;
}

mat-datepicker-toggle {
  color: #4da8da !important;
}

input {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #7D7D7D;
}

.mat-select-value {
  color: #EEFBFB;
}

.mat-select-value::placeholder {
  color: #EEFBFB;
}









.info-text {
  text-align: center;
}



/*
 * For buttons styling
*/
.delete {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.apply {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.report {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.learnMore {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.filterBar {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.filterButton {
  margin: 0 auto;
}

.pCardContent p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 10rem;
}


@media screen {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    background-color: #4da8da;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

}
