<div class="filter-card">
  <mat-card class="filter-card-body">
  <mat-card-title class="filter-card-title"> Filter Search </mat-card-title>
    <ng-container>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Beneficiaries
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Beneficiaries</mat-label>
            <mat-select
              ngModel
              multiple
              #beneficiariesInput="ngModel"
              name="beneficiariesSelected"
              [(ngModel)]="beneficiariesSelected"
            >
              <mat-option
                *ngFor="let beneficiary of beneficiaries"
                [value]="beneficiary"
                >{{ beneficiary }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Organisations
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Organisations</mat-label>
            <mat-select
              ngModel
              multiple
              #organisationsInput="ngModel"
              name="orgsSelected"
              [(ngModel)]="orgsSelected"
            >
              <mat-option
                *ngFor="let org of orgs"
                [value]="org"
                >{{ org }}</mat-option
              >
            </mat-select>
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Date range
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input
                matStartDate
                placeholder="Start date"
                ngModel
                [(ngModel)]="startDate"
                name="startDate"
              />
              <input
                matEndDate
                placeholder="End date"
                [(ngModel)]="endDate"
                name="endDate"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="rangePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker touchUi>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button
                  mat-raised-button
                  color="primary"
                  matDateRangePickerApply
                  class="apply"
                >
                  Apply
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-form-field appearance="outline">
        <mat-label>Search for keywords</mat-label>
        <input
          matInput
          type="text"
          ngModel
          [(ngModel)]="keywords"
          placeholder="eg Potong Pasir"
        />
      </mat-form-field>

      <div class="filter-footer">
        <p-button
          class="filter-button"
          label="Clear filter criteria"
          icon="pi pi-trash"
          (click)="clearFilter()"
        ></p-button>

        <p-button
          class="filter-button"
          label="Filter Search Results"
          icon="pi pi-filter"
          (click)="submitFilter()"
        ></p-button>
      </div>
    </ng-container>
  </mat-card>
</div>

<div class="published-posts">
  <p class="info-text" *ngIf="noFilteredPost && hasApproved">
    <i>No posts match your filter criteria or there are no job listings currently available</i>
  </p>

  <ng-container *ngFor="let post of filteredPosts">
    <section class="cards">
      <mat-card class="published-post-card">
        <img
          *ngIf="!post.imagePath"
          mat-card-image
          class="card-image"
          src="../../../assets/dark-background-placeholder.png"
          alt="Placeholder image for post"
        />

        <img
          *ngIf="post.imagePath"
          mat-card-image
          class="card-image"
          [src]="post.imagePath"
          alt="Post's image"
        />

        <mat-card-title class="post-card-title"
          ><b>{{ post.title }}</b></mat-card-title
        >
        <mat-card-subtitle class="post-card-subtitle">
          by <b>{{ post.orgName }}</b>
        </mat-card-subtitle>
        <mat-card-content class="post-card-content">
          <mat-icon>event</mat-icon> {{ post.startDate | date }} to
          {{ post.endDate | date }} <br />
          <mat-icon>schedule</mat-icon> {{ post.hoursRequired }} <br />
          <mat-icon> location_on</mat-icon> {{ post.location || "Not Specified" }} <br />
          <mat-icon>people_outline</mat-icon> Skillsets: {{ post.skills }}
          <br />
        </mat-card-content>
        <mat-card-footer class="post-card-footer">
          <button
            mat-raised-button
            *ngIf="
              (userRole === 'Student' || userRole === 'Student / NUS Alumni') &&
              !applyBefore(post)
            "
            class="post-card-footer-button"
            color="accent"
            (click)="
              onApply(
                post.id,
                'You have applied to this post before!',
                studentContent
              )
            "
          >
            Apply
          </button>

          <button
            mat-raised-button
            disabled
            class="post-card-footer-button"
            *ngIf="applyBefore(post)"
          >
            Apply
          </button>

          <button
            mat-raised-button
            class="post-card-footer-button"
            color="warn"
            *ngIf="
              (userRole === 'Student' || userRole === 'Student / NUS Alumni') &&
              !reportBefore(post)
            "
            (click)="onReport(post.id, errorMessage, reportContent)"
          >
            Report
          </button>

          <button
            mat-raised-button
            disabled
            *ngIf="reportBefore(post)"
            class="post-card-footer-button"
          >
            Report
          </button>

          <!--
          <button
            mat-raised-button
            class="post-card-footer-button"
            color="warn"
            *ngIf="userRole === 'Admin' || post.email === authStatusObject.email"
            (click)="onDeletePrompt(deleteContent)"
          >
            Delete
          </button>
          -->

          <button
            mat-raised-button
            class="post-card-footer-button"
            color="warn"
            *ngIf=" userRole === 'Admin'"
            (click)="onRejectPrompt(rejectContent)"
          >
            Reject
          </button>

          <button
            mat-raised-button
            class="post-card-footer-button-complete"
            *ngIf="userRole === 'Admin' || post.email === authStatusObject.email"
            (click)="onCompletePrompt(completeContent)"
          >
          Mark as Done
          </button>

          <button
            mat-button
            color="primary"
            class="post-card-footer-button"
            (click)="onMoreInfo(content)"
          >
            Learn More
          </button>
        </mat-card-footer>
      </mat-card>
    </section>

    <ng-template #messageForStudent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Publish Success</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Post Published Successfully!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Back
        </button>
      </div>
    </ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{ post.title }}</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>
      <div class="modal-body">
        <p>
          Organization Name: {{ post.orgName }}<br />
          UEN: {{ post.uen }}<br />
          Point of Contact (POC): {{ post.POC }}<br />
          POC's phoneNumber: {{ post.phoneNumber }}<br />
          POC's email: {{ post.email }}<br />
          Brief Description for gig: {{ post.content }}<br />
          Frequency/Type of volunteer opportunity: {{ post.opportunity }}<br />
          Preferred Skills: {{ post.skills }}<br />
          Start Date: {{ post.startDate | date }}<br />
          End Date: {{ post.endDate | date }}<br />
          Commitment Hours: {{ post.hoursRequired }}<br />
          Beneficiaries: {{ post.beneficiaries }}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #error let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Applied Before</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>you applied for this before</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #studentContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Apply Post: {{ post.title }}</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>

      <div class="modal-body">

        <!-- TEMPLATE-DRIVEN FORM -->
        <!--
        <form #appForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="number"
              ngModel
              name="contactNumber"
              required
              #contactNumber="ngModel"
              placeholder="81234567"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              minlength="8"
              maxLength="8"
            />
            <mat-error *ngIf="contactNumber.invalid">Please ensure your contact number is correct.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for applying</mat-label>
            <textarea
              matInput
              type="text"
              ngModel
              name="message"
              required
              #message="ngModel"
              rows="10"
              minlength="5"
              placeholder="Please elaborate on what you can contribute to the project."
            ></textarea>
          </mat-form-field>

          <div class="role-radio-group">
            <mat-label> Applicant Type </mat-label>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input
                  id="Student"
                  type="radio"
                  class="custom-control-input"
                  value="Student"
                  name="applicationUser"
                  ngModel
                  required
                />
                <label class="custom-control-label" for="Student"
                  >Student</label
                >
              </div>

              <div class="custom-control custom-radio">
                <input
                  id="NUS Alumni"
                  type="radio"
                  class="custom-control-input"
                  value="NUS Alumni"
                  name="applicationUser"
                  ngModel
                  required
                />
                <label class="custom-control-label" for="NUS Alumni"
                  >NUS Alumni</label
                >
              </div>
            </div>
          </div>
        </form>
        -->


        <!-- REACTIVE FORM -->
        <form [formGroup]="applicationForm">

          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="number"
              required
              [formControl]="applicationContactControl"
              placeholder="eg 81234567"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            />
            <mat-error *ngIf="!applicationForm.get('contact').valid">Please ensure your contact number is correct.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for applying</mat-label>
            <textarea
              matInput
              type="text"
              required
              [formControl]="applicationContentControl"
              rows="10"
              placeholder="Please elaborate on how you can contribute to the project."
            ></textarea>
            <mat-error *ngIf="applicationContentControl.errors?.required">Please ensure your contact number is correct.</mat-error>
          </mat-form-field>

          <div class="role-radio-group">
            <mat-label> Applicant Type </mat-label>
            <div class="d-block my-3">
              <div
              class="custom-control custom-radio"
              >
                <input
                  id="Student"
                  type="radio"
                  class="custom-control-input"
                  value="Student"
                  [formControl]="applicationUserTypeControl"
                />
                <label class="custom-control-label" for="Student"
                  >Student</label
                >
              </div>

              <div class="custom-control custom-radio">
                <input
                  id="NUS Alumni"
                  type="radio"
                  class="custom-control-input"
                  value="NUS Alumni"
                  [formControl]="applicationUserTypeControl"
                />
                <label class="custom-control-label" for="NUS Alumni"
                  >NUS Alumni</label
                >
              </div>
            </div>
          </div>

        </form>


      </div>

      <div class="modal-footer">

        <!-- REACTIVE FORM -->
        <mat-error *ngIf="applicationForm.invalid"
          >Please fill all required fields before submitting your
          application.</mat-error
        >
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitApplicationReactive(post.id) && modal.dismiss('Cross click')
          "
        >
          Submit Application
        </button>

      </div>
    </ng-template>

    <ng-template #reportContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Report Post: {{ post.title }}</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <!-- <span aria-hidden="true">&times;</span> -->
        </button>
      </div>

      <div class="modal-body">

        <!-- REACTIVE FORM -->
        <form [formGroup]="reportForm">

          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="number"
              required
              [formControl]="reportContactControl"
              placeholder="eg 81234567"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              maxlength="8"
            />
            <mat-error *ngIf="!reportForm.get('contact').valid">Please ensure your contact number is correct.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for reporting</mat-label>
            <textarea
              matInput
              type="text"
              required
              [formControl]="reportContentControl"
              rows="10"
              placeholder="Please elaborate provide us with the reason for reporting the post."
            ></textarea>
            <mat-error *ngIf="reportContentControl.errors?.required">Please ensure your contact number is correct.</mat-error>
          </mat-form-field>
        </form>
      </div>

      <div class="modal-footer">
        <!-- <div
          *ngIf="reported"
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <strong>Post reported!</strong> Please wait while our
          administrators have a look at your report. You may now close this window by clicking the cross button at the top right-hand corner.
          <button
            (click)="closeNotification() && modal.dismiss('Cross click')"
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->

        <mat-error *ngIf="reportForm.invalid"
          >Please fill all required fields before submitting your
          report.</mat-error
        >

        <!-- REACTIVE FORM -->
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitReportReactive(post.id) && modal.dismiss('Cross click')
          "
        >
          Submit Report
        </button>
      </div>
    </ng-template>

    <ng-template #errorMessage let-modal>
      <div class="modal-header">
        <h4 class="modal-title">You reported this post before!</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-template>

    <ng-template #deleteContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete the post?</p>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="onDelete(post.id) && modal.dismiss('Cross click')"
        >
          Confirm Delete
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </ng-template>

    <ng-template #completeContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Completion Confirmation</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Confirm that the post request has been completed?</p>

        <form [formGroup]="removeForm">

          <mat-form-field appearance="outline">
            <mat-label>If you are removing the post not because it is completed, please fill in the reason here.</mat-label>
            <textarea
              matInput
              type="text"
              [formControl]="removeReasonControl"
              rows="10"
              placeholder="Please tell us why you are removing the post. (eg lack of interest in job, job expired, etc)"
            ></textarea>
          </mat-form-field>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="onComplete(post.id) && modal.dismiss('Cross click')"
        >
          Confirm Completion
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </ng-template>

    <ng-template #rejectContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Rejection Confirmation</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Confirm that the post request is rejected?</p>

        <form [formGroup]="rejectForm">

          <mat-form-field appearance="outline">
            <mat-label>Reason for rejecting post <i>(Optional)</i></mat-label>
            <textarea
              matInput
              type="text"
              [formControl]="rejectReasonControl"
              rows="10"
              placeholder="Please record down the reason for rejecting this approved post."
            ></textarea>
          </mat-form-field>
        </form>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="onReject(post.id) && modal.dismiss('Cross click')"
        >
          Confirm Rejection
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </ng-template>
  </ng-container>

  <p class="info-text" *ngIf="hasApproved === false">
    <i>No jobs listing currently available!</i>
  </p>

  <!--
  <mat-spinner *ngIf="hasApproved === null"></mat-spinner>
  -->

  <!-------------------------------------------
    Loader 12. Nicer spinner
  --------------------------------------------->
  <div *ngIf="hasApproved === null" class="loader-wrapper loader-wrapper--12">
    <div class="loader loader--12">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    </div>
  </div>
</div>


<footer class="container">
  <!--
  <p class="float-end"><a href="#">Back to top</a></p>
  -->
  <p class="copyright">
    &copy; Orbital 2021 Team StudyGoWhere, ID 2601, Darren Hoon and Wilbur Fong.
    <br />
    In conjuction with the Centre for Computing for Social Good and Philanthropy
    (CCSGP), NUS.
    <!--
    <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    -->
  </p>
</footer>
