<div class="filter-card">

  <mat-card class="filter-body">

    <ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Search for keywords</mat-label>
        <input
          matInput
          type="text"
          ngModel
          [(ngModel)]="keywords"
          placeholder="eg Potong Pasir"
        />
      </mat-form-field>

      <mat-form-field
        appearance="outline"
      >
        <mat-label>Beneficiaries</mat-label>
        <mat-select
          ngModel
          multiple
          #beneficiariesInput="ngModel"
          name="beneficiariesSelected"
          [(ngModel)]="beneficiariesSelected"
        >
          <mat-option
            *ngFor="let beneficiary of beneficiaries"
            [value]="beneficiary"
            >{{ beneficiary }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input
            matStartDate
            placeholder="Start date"
            ngModel
            [(ngModel)]="startDate"
            name="startDate"
          />
          <input
            matEndDate
            placeholder="End date"
            [(ngModel)]="endDate"
            name="endDate"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker touchUi>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button
              mat-raised-button
              color="primary"
              matDateRangePickerApply
              class="apply"
            >
              Apply
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <div
        class="filter-footer"
      >
        <p-button
          class="filter-button"
          label="Clear filter criteria"
          icon="pi pi-trash"
          (click)="clearFilter()"
        ></p-button>

        <p-button
          class="filter-button"
          label="Filter Search Results"
          icon="pi pi-filter"
          (click)="submitFilter()"
        ></p-button>
      </div>
    </ng-container>
  </mat-card>
</div>

<!--
<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="5.0%"
  fxLayoutAlign="center"
>
  <p *ngIf="noFilteredPost" [style]="{ color: 'white' }">
    <b>No posts match your filter criteria!</b>
  </p>

  <ng-container *ngFor="let post of filteredPosts">
    <div class="centered">
      <section class="cards">
        <p-card
          class="card"
          [style]="{
            width: '25rem',
            'max-width': '25rem',
            height: '15rem',
            'text-align': 'center',
            'background-color': '#203647',
            display: 'block',
            overflow: 'hidden',
            'white-space': 'nowrap',
            color: 'white'
          }"
          *ngIf="post.approved"
        >
          <p-card-header
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '1.7rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: 'white',
              'font-size': '1.5rem'
            }"
          >
            <b>{{ post.title }}</b>
          </p-card-header>

          <p-card-subheader
            [style]="{
              height: '3.5rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
          >
            {{ post.startDate | date }} to {{ post.endDate | date }}
          </p-card-subheader>

          <p-card-content
            [style]="{
              'text-overflow': 'ellipsis',
              width: '22rem',
              'max-width': '22rem',
              height: '3rem',
              display: 'block',
              overflow: 'hidden',
              'white-space': 'nowrap',
              color: '#D9D9D9'
            }"
          >
            {{ post.content }}
          </p-card-content>

          <ng-template pTemplate="footer" #footer class="footer">
            <p-button
              *ngIf="userRole === 'Student'"
              class="report"
              label="Report"
              icon="pi pi-exclamation-circle"
              styleClass="p-button-info"
              (click)="
                onReport(
                  post.id,
                  'You reported this post before!',
                  reportContent
                )
              "
            ></p-button>

            <p-button
              class="learnMore"
              label="Learn"
              icon="pi pi-search-plus"
              styleClass="p-button-info"
              (click)="onMoreInfo(content)"
            ></p-button>

            <p-button
              *ngIf="userRole === 'Student'"
              class="apply"
              label="Apply"
              icon="pi pi-heart"
              styleClass="p-button-info"
              (click)="
                onApply(
                  post.id,
                  'You have applied to this post before!',
                  studentContent
                )
              "
            ></p-button>

            <p-button
              *ngIf="userRole === 'Admin' || post.uen === authStatusObject.uen"
              class="delete"
              label="Delete"
              icon="pi pi-times"
              styleClass="p-button-secondary"
              (click)="onDeletePrompt(deleteContent)"
            ></p-button>
          </ng-template>
        </p-card>
      </section>
    </div>

    <ng-template #messageForStudent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Publish Success</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Post Published Successfully!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Back
        </button>
      </div>
    </ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{ post.title }}</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Organization Name: {{ post.orgName }}<br />
          UEN: {{ post.uen }}<br />
          Point of Contact (POC): {{ post.POC }}<br />
          POC's phoneNumber: {{ post.phoneNumber }}<br />
          POC's email: {{ post.email }}<br />
          Brief Description for gig: {{ post.content }}<br />
          Preferred Skills: {{ post.skills }}<br />
          Start Date: {{ post.startDate | date }}<br />
          End Date: {{ post.endDate | date }}<br />
          Commitment Hours: {{ post.hoursRequired }}<br />
          Beneficiaries: {{ post.beneficiaries }}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #error let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Applied Before</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>you applied for this before</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #studentContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Apply Post: {{ post.title }}</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <form (submit)="submitApplication(post.id, appForm)" #appForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="contactNumber"
              required
              #contactNumber="ngModel"
              placeholder="Please provide the organisation your contact number for them to reach out to you."
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for applying</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="message"
              required
              #message="ngModel"
              rows="10"
              placeholder="Please elaborate on what you can contribute to the project."
              required
            />
          </mat-form-field>
        </form>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitApplication(post.id, appForm) && modal.dismiss('Cross click')
          "
        >
          Submit Application
        </button>
      </div>
    </ng-template>

    <ng-template #reportContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Report Post: {{ post.title }}</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <form (submit)="submitReport(post.id, reportForm)" #reportForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="contactNumber"
              required
              #contactNumber="ngModel"
              placeholder="Please provide us with your contact number for administrators to get in touch with you."
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for reporting</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="message"
              required
              #message="ngModel"
              placeholder="Please help us understand why are you making the report."
              required
            />
          </mat-form-field>
        </form>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitReport(post.id, reportForm) && modal.dismiss('Cross click')
          "
        >
          Submit Report
        </button>
      </div>
    </ng-template>


    <ng-template #deleteContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Delete Confirmation</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
      <p>Are you sure you want to delete the post?</p>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >

      <button
          type="button"
          class="btn btn-light"
          (click)="
          onDelete(post.id) && modal.dismiss('Cross click')
          "
        >
          Confirm Delete
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </ng-template>



  </ng-container>
</div>
<p class="info-text mat-body-1" *ngIf="!hasApproved">
  No jobs listing currently available!
</p>
-->

<div class="posts-timeline">
  <ng-container *ngFor="let post of filteredPosts">
    <section class="cards">
      <p-card
        class="card"
        [style]="{
          height: '25rem',
          width: '50rem',
          'text-align': 'center',
          'background-color': '#203647',
          display: 'block',
          overflow: 'hidden',
          color: 'white'
        }"
        *ngIf="post.approved"
      >
        <p-card-header
          [style]="{
            'text-overflow': 'ellipsis',
            width: '45rem',
            'max-width': '45rem',
            'text-align': 'center',
            height: '1.7rem',
            display: 'block',
            overflow: 'hidden',
            'white-space': 'nowrap',
            color: 'white',
            'font-size': '1.5rem'
          }"
        >
          <b>{{ post.title }}</b>
        </p-card-header>

        <p-card-subheader
          [style]="{
            height: '3.5rem',
            display: 'block',
            overflow: 'hidden',
            'white-space': 'nowrap',
            color: '#D9D9D9'
          }"
        >
          {{ post.startDate | date }} to {{ post.endDate | date }}
        </p-card-subheader>

        <p-card-content class="pCardContent">
          <p>{{ post.content }}</p>
        </p-card-content>

        <ng-template pTemplate="footer" #footer class="footer">
          <p-button
            *ngIf="(userRole === 'Student') || (userRole === 'Student / NUS Alumni')"
            class="report"
            label="Report"
            icon="pi pi-exclamation-circle"
            styleClass="p-button-info"
            (click)="
              onReport(post.id, 'You reported this post before!', reportContent)
            "
          ></p-button>

          <p-button
            class="learnMore"
            label="Learn"
            icon="pi pi-search-plus"
            styleClass="p-button-info"
            (click)="onMoreInfo(content)"
          ></p-button>

          <p-button
            *ngIf="(userRole === 'Student') || (userRole === 'Student / NUS Alumni')"
            class="apply"
            label="Apply"
            icon="pi pi-heart"
            styleClass="p-button-info"
            (click)="
              onApply(
                post.id,
                'You have applied to this post before!',
                studentContent
              )
            "
          ></p-button>

          <p-button
            *ngIf="userRole === 'Admin' || post.uen === authStatusObject.uen"
            class="delete"
            label="Delete"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            (click)="onDeletePrompt(deleteContent)"
          ></p-button>
        </ng-template>
      </p-card>
    </section>

    <ng-template #messageForStudent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Publish Success</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Post Published Successfully!</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Back
        </button>
      </div>
    </ng-template>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">{{ post.title }}</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Organization Name: {{ post.orgName }}<br />
          UEN: {{ post.uen }}<br />
          Point of Contact (POC): {{ post.POC }}<br />
          POC's phoneNumber: {{ post.phoneNumber }}<br />
          POC's email: {{ post.email }}<br />
          Brief Description for gig: {{ post.content }}<br />
          Preferred Skills: {{ post.skills }}<br />
          Start Date: {{ post.startDate | date }}<br />
          End Date: {{ post.endDate | date }}<br />
          Commitment Hours: {{ post.hoursRequired }}<br />
          Beneficiaries: {{ post.beneficiaries }}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #error let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Applied Before</h4>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>you applied for this before</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-light"
          (click)="modal.close('Close click')"
        >
          Close
        </button>
      </div>
    </ng-template>

    <ng-template #studentContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Apply Post: {{ post.title }}</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <form (submit)="submitApplication(post.id, appForm)" #appForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="contactNumber"
              required
              #contactNumber="ngModel"
              placeholder="Please provide the organisation your contact number for them to reach out to you."
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for applying</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="message"
              required
              #message="ngModel"
              rows="10"
              placeholder="Please elaborate on what you can contribute to the project."
              required
            />
          </mat-form-field>
        </form>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitApplication(post.id, appForm) && modal.dismiss('Cross click')
          "
        >
          Submit Application
        </button>
      </div>
    </ng-template>

    <ng-template #reportContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Report Post: {{ post.title }}</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <form (submit)="submitReport(post.id, reportForm)" #reportForm="ngForm">
          <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="contactNumber"
              required
              #contactNumber="ngModel"
              placeholder="Please provide us with your contact number for administrators to get in touch with you."
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Reason for reporting</mat-label>
            <input
              matInput
              type="text"
              ngModel
              name="message"
              required
              #message="ngModel"
              placeholder="Please help us understand why are you making the report."
              required
            />
          </mat-form-field>
        </form>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <button
          type="button"
          class="btn btn-light"
          (click)="
            submitReport(post.id, reportForm) && modal.dismiss('Cross click')
          "
        >
          Submit Report
        </button>
      </div>
    </ng-template>

    <ng-template #deleteContent let-modal>
      <div
        class="modal-header"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <h4 class="modal-title">Delete Confirmation</h4>
        <button
          type="button"
          class="submit"
          aria-label="apply"
          (click)="modal.dismiss('Cross click')"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div
        class="modal-body"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <p>Are you sure you want to delete the post?</p>
      </div>

      <div
        class="modal-footer"
        [style]="{
          color: 'white',
          'background-color': '#203647'
        }"
      >
        <button
          type="button"
          class="btn btn-light"
          (click)="onDelete(post.id) && modal.dismiss('Cross click')"
        >
          Confirm Delete
        </button>

        <button
          type="button"
          class="btn btn-light"
          (click)="modal.dismiss('Cross click')"
        >
          Cancel
        </button>
      </div>
    </ng-template>
  </ng-container>
</div>
<p class="info-text mat-body-1" *ngIf="!hasApproved">
  No jobs listing currently available!
</p>
