:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.delete {

  margin-left: .5rem;
}

.filterBar {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.filterButton {
  position: absolute;
  right: 0px;
  width: 250px;
  padding: 10px;
}

.footer {
  width: auto;
}

@media screen and (min-width: 100em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(25% - 1em);
  }
}
