/* SIGNUP GENERAL GLOBAL
-------------------------------------------------- */
div {
  background-color: inherit;
}

mat-form-field {
  width:100%;
}

mat-spinner {
  margin: auto;
}

/* SIGNUP GENERAL CARD
-------------------------------------------------- */

mat-card {
  width: 20%;
  margin-top: 5rem;
}

.card {
  grid-area: card;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.logo img {
  width: 50%;
  height: 50%;
}

.logo {
  background-position: center;
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}

/*
 * For the role selection for user creation. Still need to combine w styling at html level
*/

/*
.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #7D7D7D;
}

::ng-deep .mat-select-arrow {
  color: #4da8da !important;
}

::ng-deep .mat-select-value {
  color: #EEFBFB !important;
}

.mat-select-value::placeholder {
  color: #EEFBFB !important;
}

mat-icon {
  color: #4da8da;
}
*/






/* img {
  width:100%;
  height: 100%;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "picture card";
}

.picture { grid-area: picture;}
*/
