/* SIGNUP GENERAL GLOBAL
-------------------------------------------------- */
div {
  background-color: inherit;
}

mat-form-field {
  width:100%;
}

mat-spinner {
  margin: auto;
}

/* SIGNUP GENERAL CARD
-------------------------------------------------- */

mat-card {
  width: 20%;
  margin-top: 5rem;
}

.card {
  grid-area: card;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.logo img {
  width: 75%;
  margin-bottom: 5rem;
}

.logo {
  background-position: center;
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}

.radio-spacer {
  height: 2%;
}

.signup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
