<div class="grid-container">
  <div class="card">
    <mat-card>
      <span class="logo">
        <img src="assets/Orbital-Logo-Design.png" alt="Logo of CCSGP" />
      </span>

      <form [formGroup]="form">

        <div>
          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Name</mat-label>
            <input
              matInput
              name="name"
              required
              [formControl]="nameControl"
              placeholder="Mary Antoinette"
            />
            <mat-error *ngIf="nameControl.errors?.required"
              >Please enter your name.</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              type="email"
              name="email"
              required
              [formControl]="emailControl"
              placeholder="mary@antoinette.com"
            />
            <mat-error *ngIf="emailControl.errors?.required"
              >Please enter your NUS student / Alumni email address.</mat-error
            >
          </mat-form-field>
        </div>


        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              name="password"
              [formControl]="passwordControl"
              required
              placeholder="Enter Password Here"
            />

            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>

            <mat-error *ngIf="passwordControl.errors?.required"
              >Please enter a valid password.</mat-error
            >
          </mat-form-field>
          <mat-label>Password Strength</mat-label>
          <mat-password-strength  [password]="passwordControl.value">
          </mat-password-strength>
        </div>
      </form>

      <div class="signup-button-container">
        <button *ngIf="form.invalid" mat-raised-button disabled>Signup</button>
        <button *ngIf="!form.invalid" mat-raised-button color="accent" (click)="onSignupReactive()">Signup</button>
      </div>

    </mat-card>
  </div>
</div>
