/* SIGNUP GENERAL GLOBAL
-------------------------------------------------- */
.signup-container {
  overflow: auto;
  background-color: inherit;
  height: 100vh;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

mat-form-field {
  width:100%;
}

mat-spinner {
  margin: auto;
}

/* SIGNUP GENERAL CARD
-------------------------------------------------- */

mat-card {
  width: 400px;
  margin-top: 5rem;
}

.card {
  grid-area: card;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


.logo img {
  width: 75%;
  margin-bottom: 5rem;
}

.logo {
  background-position: center;
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}

.radio-spacer {
  height: 2%;
}

.signup-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
}

.show-password-checkbox-container {
  text-align: start;
  margin-left: 0.2rem;
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}
