<div class="change-user-permissions">
  <mat-form-field class="user-filter" appearance="fill">
    <mat-label>Find User</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="eg Woodrow Wilson" #input>
  </mat-form-field>


  <table mat-table [dataSource]="dataSource" matSort>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row" class="text-sm font-medium text-gray-900"> {{row.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>

      <td mat-cell *matCellDef="let row" class="text-sm text-gray-500">
        {{row.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="accountStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Status </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="row.accountStatus === 'Admin'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">{{row.accountStatus}}</span>
        <span *ngIf="row.accountStatus === 'Banned'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">{{row.accountStatus}}</span>
        <span *ngIf="row.accountStatus === 'Unverified'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-black-800">{{row.accountStatus}}</span>
        <span *ngIf="row.accountStatus === 'Normal User'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-black-800">{{row.accountStatus}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"></th>
      <td mat-cell *matCellDef="let row">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon button with menu for each user">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="row.accountStatus !== 'Banned'" class="menu-button-option" (click)="blockUser(row.email)">
            <mat-icon>block</mat-icon>
            <span class="menu-button-text">Block</span>
          </button>

          <button mat-menu-item *ngIf="row.accountStatus === 'Banned'" class="menu-button-option" (click)="unblockUser(row.email)">
            <mat-icon>check_circle_outline</mat-icon>
            <span>Unblock</span>
          </button>

          <button mat-menu-item *ngIf="row.accountStatus === 'Normal User'" class="menu-button-option" (click)="makeAdmin(row.email)">
            <mat-icon>person_add</mat-icon>
            <span class="menu-button-text">Make Admin</span>
          </button>

          <button mat-menu-item *ngIf="row.accountStatus === 'Admin'" class="menu-button-option" (click)="removeAdmin(row.email)">
            <mat-icon>person_remove</mat-icon>
            <span>Remove Admin Rights</span>
          </button>

        </mat-menu>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>
