:host {
  display: block;
  margin-top: 1rem;
}

mat-icon {
  color: #4da8da;
}

.mat-select-value {
  color: #EEFBFB !important;
}

.mat-select-value::placeholder {
  color: #EEFBFB !important;
}

.updateUser {
  margin-left: auto;
  margin-right: auto;
}

.changeInfoBar {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.alert {
  padding: 20px;
  background-color: #20a033;
  color: white;
  margin-bottom: 15px;
}

@media screen {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    background-color: #4da8da;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
