<!-- <p>STUDENT's board is supposed to be here!!!!!</p> -->
<div class="d-flex">
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-pills"
    orientation="vertical"
  >
    <li ngbNavItem="changePassword" class="nav-item">
      <a ngbNavLink>Change Password</a>
      <ng-template ngbNavContent>
        <div class="change-password-card">
          <mat-card class="mat-elevation-z0 change-password-body">
            <mat-card-title class="change-password-title"
              >Change Password</mat-card-title
            >

            <form #changePasswordForm="ngForm" class="changePasswordForm">
              <mat-form-field
                appearance="outline"
                class="change-password-form-field"
              >
                <input
                  matInput
                  class="form-input"
                  [type]="hideCurrentPassword ? 'password' : 'text'"
                  ngModel
                  name="currentPassword"
                  required
                  #currentPassword="ngModel"
                  placeholder="Current Password"
                />

                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideCurrentPassword = !hideCurrentPassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideCurrentPassword"
                >
                  <mat-icon class="password-visibility-icon-button">{{
                    hideCurrentPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>

                <mat-error *ngIf="currentPassword.invalid"
                  >Please enter your current password.</mat-error
                >
              </mat-form-field>

              <mat-form-field
                appearance="outline"
                class="change-password-form-field"
              >
                <input
                  matInput
                  class="form-input"
                  [type]="hideNewPassword ? 'password' : 'text'"
                  ngModel
                  name="newPassword"
                  required
                  #newPassword="ngModel"
                  placeholder="New Password"
                />

                <button
                  mat-icon-button
                  matSuffix
                  (click)="hideNewPassword = !hideNewPassword"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hideNewPassword"
                >
                  <mat-icon class="password-visibility-icon-button">{{
                    hideNewPassword ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>

                <mat-error *ngIf="newPassword.invalid"
                  >Please provide us with your new password.</mat-error
                >
              </mat-form-field>

              <button
                mat-raised-button
                color="primary"
                (click)="onChangePassword(changePasswordForm)"
              >
                Change Password
              </button>
            </form>

            <div
              *ngIf="requestedNewPassword"
              class="alert alert-success alert-dismissible fade show"
              role="alert"
            >
              <strong>Password changed!</strong>
              <button
                (click)="closeNotification()"
                type="button"
                class="btn-close"
                data-dismiss="alert"
                aria-label="Close"
              >
              </button>
            </div>
          </mat-card>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="appliedPosts" class="nav-item">
      <a ngbNavLink>Posts that you have applied to</a>
      <ng-template ngbNavContent>
        <div class="centered" *ngFor="let post of appliedPosts">
          <section class="cards" *ngIf="post.students.length > 0">
            <mat-card class="application-post-card">
              <img
                *ngIf="!post.imagePath"
                mat-card-image
                class="card-image"
                src="../../../assets/light-background-placeholder.png"
                alt="Placeholder image"
              />

              <img
                *ngIf="post.imagePath"
                mat-card-image
                class="card-image"
                [src]="post.imagePath"
                alt="Placeholder image"
              />

              <mat-card-title class="post-card-title">
                <b>{{ post.title }}</b>
              </mat-card-title>

              <mat-card-subtitle class="post-card-subtitle">
                by <b>{{ post.orgName }}</b>
              </mat-card-subtitle>

              <mat-card-content class="post-card-content">
                <mat-icon>event</mat-icon> {{ post.startDate | date }} to
                {{ post.endDate | date }} <br />
                <mat-icon>schedule</mat-icon> {{ post.hoursRequired }} <br />
                <mat-icon> location_on</mat-icon> {{ post.location || "No Location Specified" }} <br />
                <mat-icon>people_outline</mat-icon> Skillsets: {{ post.skills }}
                <br />
              </mat-card-content>

              <mat-footer class="post-card-footer">
                <button
                matTooltip="Click for more information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
                mat-icon-button
                color="primary"
                aria-label="Learn More"
                (click)="onMoreInfo(content)">
                <mat-icon
                color="primary">
                  help_outline
                </mat-icon>
                </button>
              </mat-footer>
            </mat-card>
          </section>

          <ng-template #content let-modal>
            <div class="bg-white shadow overflow-hidden sm:rounded-lg">

              <div class="px-4 py-3 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  {{ post.title }}
                </h3>

                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                  by <i>{{ post.orgName }}</i>
                </p>

              </div>

              <div class="border-t border-gray-200">
                <dl>

                  <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      About
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.content }}
                    </dd>
                  </div>

                  <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Point-Of-Contact's Name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.POC }}
                    </dd>
                  </div>

                  <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Email Address
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.email }}
                    </dd>
                  </div>

                  <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Preferred Skillset
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.skills }}
                    </dd>
                  </div>

                  <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Beneficiaries
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.beneficiaries }}
                    </dd>
                  </div>

                  <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Duration
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.startDate | date }} to {{ post.endDate | date }}
                    </dd>
                  </div>

                  <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Commitment Information
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.hoursRequired }}
                    </dd>
                  </div>

                  <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Location
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                      {{ post.location || "Not Specified" }}
                    </dd>
                  </div>

                </dl>
              </div>
            </div>
          </ng-template>


        </div>
      </ng-template>
    </li>
    <li ngbNavItem="reportedPosts" class="nav-item">
      <a ngbNavLink>Posts that you have reported</a>
      <ng-template ngbNavContent>
        <div class="report-posts-div">
          <div class="centered" *ngFor="let post of reportedPosts">
            <section class="cards" *ngIf="post.reports.length > 0">
              <mat-card class="report-post-card">
                <img
                  mat-card-image
                  class="card-image"
                  src="../../../assets/dark-background-placeholder.png"
                  alt="Placeholder image"
                />

                <mat-card-title class="post-card-title"
                  ><b>{{ post.title }}</b></mat-card-title
                >
                <mat-card-subtitle class="post-card-subtitle">
                  by <b>{{ post.orgName }}</b>
                </mat-card-subtitle>
                <mat-card-content class="post-card-content">
                  <mat-icon>event</mat-icon> {{ post.startDate | date }} to
                  {{ post.endDate | date }} <br />
                  <mat-icon>schedule</mat-icon> {{ post.hoursRequired }} <br />
                  <mat-icon> location_on</mat-icon> {{ post.location || "No Location Specified" }} <br/>
                  <mat-icon>people_outline</mat-icon> Skillsets:
                  {{ post.skills }} <br />
                </mat-card-content>
                <mat-footer class="post-card-footer">
                  <button
                  matTooltip="Click for more information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
                  mat-icon-button
                  color="primary"
                  aria-label="Learn More"
                    (click)="onMoreInfo(content)"
                  >
                  <mat-icon
                  color="primary">
                    help_outline
                  </mat-icon>
                  </button>
                </mat-footer>
              </mat-card>
            </section>

            <ng-template #content let-modal>
              <div class="bg-white shadow overflow-hidden sm:rounded-lg">

                <div class="px-4 py-3 sm:px-6">
                  <h3 class="text-lg leading-6 font-medium text-gray-900">
                    {{ post.title }}
                  </h3>

                  <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    by <i>{{ post.orgName }}</i>
                  </p>

                </div>

                <div class="border-t border-gray-200">
                  <dl>

                    <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        About
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.content }}
                      </dd>
                    </div>

                    <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Point-Of-Contact's Name
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.POC }}
                      </dd>
                    </div>

                    <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Email Address
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.email }}
                      </dd>
                    </div>

                    <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Preferred Skillset
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.skills }}
                      </dd>
                    </div>

                    <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Beneficiaries
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.beneficiaries }}
                      </dd>
                    </div>

                    <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Duration
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.startDate | date }} to {{ post.endDate | date }}
                      </dd>
                    </div>

                    <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Commitment Information
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.hoursRequired }}
                      </dd>
                    </div>

                    <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Location
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ post.location || "Not Specified" }}
                      </dd>
                    </div>

                  </dl>
                </div>
              </div>
            </ng-template>

          </div>
        </div>

        <p class="info-text" *ngIf="hasReport === false">
          No post with reports! :D
        </p>
      </ng-template>
    </li>
    <li ngbNavItem="updateBeneficiaries" class="nav-item">
      <a ngbNavLink>Update Beneficiaries</a>
      <ng-template ngbNavContent>
        <div class="update-beneficiaries-card">
          <mat-card class="mat-elevation-z0 change-password-body">
            <mat-card-title class="change-password-title">
              Update interested beneficiaries
            </mat-card-title>
            <mat-form-field
              appearance="outline"
              class="change-password-form-field"
              text-center
            >
              <mat-label>Beneficiaries</mat-label>
              <mat-select
                multiple
                ngModel
                #beneficiariesInput="ngModel"
                name="beneficiariesSelected"
                [(ngModel)]="beneficiariesSelected"
              >
                <mat-option
                  *ngFor="let beneficiary of beneficiaries"
                  [value]="beneficiary"
                  >{{ beneficiary }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <button class="btn btn-outline-primary mb-2 mr-2" (click)="updateUser()">
              Update Interested Beneficiaries
            </button>
          </mat-card>
        </div>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>

<!-- <pre>Tab opened: {{ active }}</pre> -->
<footer class="container">
  <!--
  <p class="float-end"><a href="#">Back to top</a></p>
  -->
  <p class="copyright">
    &copy; Orbital 2021 Team StudyGoWhere, ID 2601, Darren Hoon and Wilbur Fong.
    <br />
    In conjuction with the Centre for Computing for Social Good and Philanthropy
    (CCSGP), NUS.
    <!--
    <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    -->
  </p>
</footer>

<!-- <div class="info-text">
  <div class="application-posts-div">
    <div class="info-text">
      <p>
        <b>Posts that you reported.</b>
      </p>



    <p class="info-text mat-body-1" *ngIf="hasReport === false">
      No post with reports! :D
    </p>
    <mat-spinner *ngIf="hasReport === null"></mat-spinner>
  </div>
</div> -->
