<div class="update-beneficiaries-card">
    <mat-card class="mat-elevation-z0 change-password-body">
      <mat-card-title class="change-password-title">
        Update Interested Beneficiaries
      </mat-card-title>
      <!-- <mat-form-field
        appearance="outline"
        class="change-password-form-field"
        text-center
      >
        <mat-label>Beneficiaries</mat-label>
        <mat-select
          multiple
          ngModel
          #beneficiariesInput="ngModel"
          name="beneficiariesSelected"
          [(ngModel)]="beneficiariesSelected"
        >
          <mat-option
            *ngFor="let beneficiary of beneficiaries"
            [value]="beneficiary"
            >{{ beneficiary }}</mat-option
          >
        </mat-select>
      </mat-form-field> -->
  
      <!-- <mat-expansion-panel class="filter-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="filter-expansion-panel-title">
            Beneficiaries
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let beneficiary of beneficiariesBoolean">
          <mat-checkbox
          [(ngModel)]="beneficiary.selected"
          >
          {{ beneficiary.beneficiary }}
          </mat-checkbox>
        </li>
      </mat-expansion-panel> -->
  
      <mat-selection-list required [(ngModel)]="beneficiariesSelected">
        <mat-list-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary">
          {{beneficiary}}
        </mat-list-option>
      </mat-selection-list>
  
      <button
      mat-raised-button
      color="primary"
        (click)="updateUser()"
      >
        Update Interested Beneficiaries
      </button>
    </mat-card>
  </div>