<div class="update-beneficiaries-container">
    <mat-card class="mat-elevation-z0 update-beneficiaries-body">
      <mat-card-title class="update-beneficiaries-title">
        Update Interested Beneficiaries
      </mat-card-title>

      <mat-selection-list required [(ngModel)]="beneficiariesSelected">
        <mat-list-option *ngFor="let beneficiary of beneficiaries" [value]="beneficiary">
          {{beneficiary}}
        </mat-list-option>
      </mat-selection-list>

      <button
      mat-raised-button
      color="primary"
      (click)="updateUser()"
      >
        Update Interested Beneficiaries
      </button>
    </mat-card>
  </div>
