<html>
  <body>
    <p style="color: white">Hi, this is the landing page!</p>
    <div align="center">
      <p style="color: white; text-align: left">
        There is supposed to be an advertisement here!!!!!!!!!!!!!!!!!!
      </p>
      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
      ></script>
      <!-- Sample Ad 1 -->
      <ins
        class="adsbygoogle"
        style="display: inline-block; width: 120px; height: 500px"
        data-ad-client="ca-pub-5762664625803860"
        data-ad-slot="5806789784"
      ></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </body>
</html>
