<div class="approve-posts-container">

  <div class="counter-container">

    <div  *ngIf="hasReport === null">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="hasReport">
      <span class="posts-counter-text-header">Number of posts reported by you: </span>
      <span class="posts-counter-text-number">{{postsNumber}}</span>
    </div>

    <div *ngIf="hasReport == false">
      <span class="posts-counter-text-none">No posts reported</span>
    </div>

  </div>


  <div class="filter-list-container">
    <mat-form-field class="user-filter" appearance="outline">
      <mat-label>Find Post</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="eg Mr Durham" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>


      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let row" class="text-sm font-medium text-gray-900"> {{row.title}} </td>
      </ng-container>

      <!-- Post's POC Column -->
      <ng-container matColumnDef="POC">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> POC </th>

        <td mat-cell *matCellDef="let row">
          {{row.POC}}
        </td>
      </ng-container>

      <!-- Post's Status Column -->
      <ng-container matColumnDef="postStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>

        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.postStatus === 'Ongoing'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">{{row.postStatus}}</span>
          <span *ngIf="row.postStatus === 'Ended'" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800">{{row.postStatus}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="true"></th>

        <td mat-cell *matCellDef="let row">

          <button matTooltip="View My Report" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-button color="warn" aria-label="View My Application" class="post-card-button" (click)="onMoreInfo(reportContent)">
            <mat-icon color="warn">search</mat-icon>
          </button>

          <button matTooltip="More Information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-button color="primary" aria-label="Learn More" class="post-card-button" (click)="onMoreInfo(content)">
            <mat-icon color="primary">help_outline</mat-icon>
          </button>


        <ng-template #content let-modal>
          <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="closelearnmore">
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
              ></button>
            </div>
            <div class="px-4 py-3 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{row.title}}
              </h3>

              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                by <i>{{row.orgName}}</i>
              </p>

            </div>

            <div class="border-t border-gray-200">
              <dl>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    About
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <p>{{row.content}}</p>
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Point-Of-Contact's Name
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.POC}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Contact Number
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.phoneNumber}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Email Address
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.email}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Preferred Skillset
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.skills}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Beneficiaries
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.beneficiaries}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Duration
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.startDate | date}} to {{row.endDate | date}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Commitment Information
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.hoursRequired}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Location
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.location || "Not Specified"}}
                  </dd>
                </div>

              </dl>
            </div>
          </div>

        </ng-template>

        <ng-template #reportContent let-modal>

          <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="closelearnmore">
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
              ></button>
            </div>
            <div class="px-4 py-3 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{row.title}}
              </h3>

              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                by <i>{{row.orgName}}</i>
              </p>

            </div>

            <div class="border-t border-gray-200">
              <dl>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Your Name
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    <p>{{row.report.name}}</p>
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Your Email Address
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.report.email}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Your Contact Number
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.report.contact}}
                  </dd>
                </div>

                <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Your Report
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{row.report.content}}
                  </dd>
                </div>
              </dl>
            </div>
          </div>

        </ng-template>


        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter <b>{{input.value}}</b> or no data at all</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<!--
<div class="report-posts-div">
  <div class="report-posts-sub-div">
    <div class="centered" *ngFor="let post of reportedPosts">
      <section class="cards">
        <mat-card class="report-post-card">
          <img
            mat-card-image
            class="card-image"
            src="../../../assets/placeholder-{{post.beneficiaries}}.png"
            alt="Placeholder image"
          />

          <mat-card-title class="post-card-title">
            {{ post.title }}
          </mat-card-title>
          <mat-card-subtitle class="post-card-subtitle">
            by <b>{{ post.orgName }}</b>
          </mat-card-subtitle>
          <mat-card-content class="post-card-content">
            <mat-icon>event</mat-icon> {{ post.startDate | date }} to
            {{ post.endDate | date }} <br />
            <mat-icon>schedule</mat-icon> {{ post.hoursRequired }} <br />
            <mat-icon> location_on</mat-icon>
            {{ post.location || "No Location Specified" }} <br />
            <mat-icon>people_outline</mat-icon> Skillsets:
            {{ post.skills }} <br />
          </mat-card-content>
          <mat-footer class="post-card-footer">

            <button
            matTooltip="View Submitted Report"
            [matTooltipShowDelay]="100"
            [matTooltipHideDelay]="100"
            mat-button
            color="accent"
            aria-label="Learn More"
            (click)="onMoreInfo(reportContent)"
          >
            <mat-icon color="accent"> receipt_long </mat-icon>
          </button>

            <button
              matTooltip="Click for more information"
              [matTooltipShowDelay]="100"
              [matTooltipHideDelay]="100"
              mat-button
              color="primary"
              aria-label="Learn More"
              (click)="onMoreInfo(content)"
            >
              <mat-icon color="primary"> help_outline </mat-icon>
            </button>
          </mat-footer>
        </mat-card>
      </section>

      <ng-template #content let-modal>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="closelearnmore">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
            ></button>
          </div>
          <div class="px-4 py-3 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              {{post.title}}
            </h3>

            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              by <i>{{post.orgName}}</i>
            </p>

          </div>

          <div class="border-t border-gray-200">
            <dl>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  About
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <p>{{post.content}}</p>
                </dd>
              </div>

              <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Point-Of-Contact's Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.POC}}
                </dd>
              </div>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Contact Number
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.phoneNumber}}
                </dd>
              </div>

              <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Email Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.email}}
                </dd>
              </div>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Preferred Skillset
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.skills}}
                </dd>
              </div>

              <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Beneficiaries
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.beneficiaries}}
                </dd>
              </div>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Duration
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.startDate | date}} to {{post.endDate | date}}
                </dd>
              </div>

              <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Commitment Information
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.hoursRequired}}
                </dd>
              </div>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Location
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.location || "Not Specified"}}
                </dd>
              </div>

            </dl>
          </div>
        </div>

      </ng-template>

      <ng-template #reportContent let-modal>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="closelearnmore">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
            ></button>
          </div>
          <div class="px-4 py-3 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              {{post.title}}
            </h3>

            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              by <i>{{post.orgName}}</i>
            </p>

          </div>

          <div class="border-t border-gray-200">
            <dl>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Your Name
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  <p>{{post.report.name}}</p>
                </dd>
              </div>

              <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Your Email Address
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.report.email}}
                </dd>
              </div>

              <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Your Contact Number
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.report.contact}}
                </dd>
              </div>

              <div class="bg-white-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                  Your Report
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                  {{post.report.content}}
                </dd>
              </div>
            </dl>
          </div>
        </div>

      </ng-template>


    </div>
  </div>
</div>

<div class="info-text" *ngIf="hasReport === false">
  <h1 class="info-text-header">No Post Reported</h1>
  <p class="info-text-subheader">
    If you have reported a post, it will show up here.
  </p>
</div>
-->
