/* GLOBAL
-------------------------------------------------- */

.approve-posts-container {
  width: 100%;
  // margin: auto;
}

.closelearnmore {
  float: right;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  // text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  float: left;
}

.posts-counter-container {
  background-color: white;
  border-radius: 50px;
  box-shadow: 20px;

  height: 100px;

  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: center !important;
  
  float: left;
  // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  // font-size: 20px;
  // font-weight: 600;
}

.posts-counter-text-header {
  // font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  // font-weight: 600;
}

.posts-counter-text-number {
  margin-top: 4px;
  font-size: 30px;
  // font-weight: 600;
  color:rgb(255, 89, 89);
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: center !important;
}

/*
.posts-counter-container {
  background-color: white;
  border-radius: 50px;
  box-shadow: 20px;

  height: 100px;

  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.posts-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.posts-counter-text {
  margin-left: 2rem;
}

.closelearnmore {
  float: right;
}

.card-image {
  height: 50%;
  overflow: hidden;
  object-fit: cover;
}

.post-card-title {
  text-overflow: ellipsis;

  width: 22rem;
  max-width: 22rem;
  height: 1.7rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
}

.post-card-subtitle {
  font-family: "Lato", sans-serif;
  font-size: 120%;

  width: 22rem;
  max-width: 22rem;
  height: 2rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(88, 88, 88);
}

.post-card-content {
  font-family: "Lato", sans-serif;
  text-overflow: ellipsis;
  width: 22rem;
  max-width: 22rem;
  height: 8rem;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  color: #777777;
  text-align: center;
}

.post-card-footer {
  width: 20rem;
  max-width: 20rem;
  font-family: "Lato", sans-serif;
  align-items: center;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.request-post-card {
  width: 25rem;
  height: 35rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin: auto;
}

.request-post-card:hover {
  box-shadow: 0 0 11px #54f2e5a6;
}

img {
  height: 250px;
  width: 250px;
}
*/

.posts-list {
  width: 1200px;
  margin: auto;
  background-color: inherit;
  color: inherit;

  overflow: auto;
  background-color: inherit;
  height: 100vh;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

table {
  width: 100%;
}

.user-filter {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.publish-button {
  color: #00b167;
}



/* MODAL WINDOW
-------------------------------------------------- */
.modal-header {
  font-family: "Lato", sans-serif;
  color: black;
}

.modal-body {
  font-family: "Lato", sans-serif;
  color: black;
}

.modal-footer {
  font-family: "Lato", sans-serif;
  color: black;
}

.modal-body-report {
  font-family: "Lato", sans-serif;
  border: thin solid black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.info-text {
  font-family: "Lato", sans-serif;
  text-align: center;
  color: inherit;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.info-text-header {
  font-weight: 900;
  font-size: 1.5rem;
}

dd {
  white-space: pre-wrap;
}

.card-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 20rem;
}
