<div class="list-of-posts">
  <div class="container"  *ngFor="let post of posts">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="filter-expansion-panel-title">
              Post {{ posts.indexOf(post) + 1 }}
            </mat-panel-title>

          </mat-expansion-panel-header>
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
            <div class="closelearnmore">
              <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
              ></button>
            </div>
            <div class="px-4 py-3 sm:px-6">
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{post.title }}
              </h3>

              <p class="mt-1 max-w-2xl text-sm text-gray-500">
                by <i>{{post.orgName }}</i>
              </p>

            </div>

            <div class="border-t border-gray-200">
              <dl>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    About
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.content}}
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Point-Of-Contact's Name
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.POC}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Email Address
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.email}}
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Preferred Skillset
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.skills}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Beneficiaries
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.beneficiaries}}
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Duration
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.startDate | date}} to {{post.endDate | date}}
                  </dd>
                </div>

                <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Commitment Information
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.hoursRequired}}
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-500">
                    Location
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{post.location}}
                  </dd>
                </div>

                <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                      Actions
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <button matTooltip="Click to publish request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
                        mat-icon-button aria-label="Publish" (click)="onPublish(post.id, publishContent)">
                        <mat-icon class="publish-button">publish</mat-icon>
                      </button>


                      <button matTooltip="Click to delete request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
                        mat-icon-button color="warn" aria-label="Delete Forever" (click)="onDeletePrompt(deleteUnapprovedContent)">
                        <mat-icon>delete_forever</mat-icon>
                      </button>

                      <button matTooltip="Click to reject request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
                        mat-icon-button color="warn" aria-label="Reject" (click)="onRejectPrompt(rejectUnapprovedContent)">
                        <mat-icon color="warn">block</mat-icon>
                      </button>
                    </dd>
                  </div>

              </dl>
            </div>
          </div>
    </mat-expansion-panel>

    <ng-template #content let-modal>
      <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="closelearnmore">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"
          ></button>
        </div>

        <div class="px-4 py-3 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{post.title}}
          </h3>

          <p class="mt-1 max-w-2xl text-sm text-gray-500">
            by <i>{{post.orgName}}</i>
          </p>

        </div>

        <div class="border-t border-gray-200">
          <dl>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                About
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.content}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Point-Of-Contact's Name
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.POC}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Email Address
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.email}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Preferred Skillset
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.skills}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Beneficiaries
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.beneficiaries}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Duration
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.startDate | date}} to {{post.endDate | date}}
              </dd>
            </div>

            <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Commitment Information
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.hoursRequired}}
              </dd>
            </div>

            <div class="bg-white px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
              <dt class="text-sm font-medium text-gray-500">
                Location
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                {{post.location || "Not Specified"}}
              </dd>
            </div>

          </dl>
        </div>
      </div>

    </ng-template>

    <ng-template #deleteUnapprovedContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" aria-label="apply" (click)="modal.dismiss('Cross click')">
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete the post?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onDelete(post.id) && modal.dismiss('Cross click')">
          Confirm Delete
        </button>

        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </ng-template>

    <ng-template #rejectUnapprovedContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Reject Confirmation</h4>
        <button type="button" class="btn-close" aria-label="apply" (click)="modal.dismiss('Cross click')">
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to reject the post?</p>

        <form [formGroup]="rejectForm">
          <mat-form-field appearance="outline">
            <mat-label>Reason for rejecting post <i>(Optional)</i></mat-label>
            <textarea matInput type="text" [formControl]="rejectReasonControl" rows="10"
              placeholder="Please record down the reason for rejecting this approved post."></textarea>
          </mat-form-field>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onReject(post.id) && modal.dismiss('Cross click')">
          Confirm Reject
        </button>

        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </ng-template>
  </div>
</div>

<div class="info-text" *ngIf="hasRequest === false">
  <h1 class="info-text-header">No Post Request</h1>
  <p>
    If an organisation sends a request, it will be shown here for your approval!
  </p>
</div>



<!-- <div class="centered" *ngFor="let post of posts">
    <section class="cards" *ngIf="!post.approved">
      <mat-card class="request-post-card">
        <img *ngIf="!post.imagePath" mat-card-image class="card-image"
          src="../../../assets/placeholder-{{post.beneficiaries}}.png" alt="Placeholder image for post" />

        <img *ngIf="post.imagePath" mat-card-image class="card-image" [src]="post.imagePath" alt="Post's image" />

        <mat-card-title class="post-card-title">{{post.title}}</mat-card-title>
        <mat-card-subtitle class="post-card-subtitle">
          by <b>{{post.orgName}}</b>
        </mat-card-subtitle>
        <mat-card-content class="post-card-content">
          <mat-icon>event</mat-icon> {{post.startDate | date}} to
          {{post.endDate | date}} <br />
          <mat-icon>schedule</mat-icon> {{post.hoursRequired}} <br />
          <mat-icon> location_on</mat-icon>
          {{post.location || "No Specific Location"}} <br />
          <mat-icon>people_outline</mat-icon> Skillsets:
          {{post.skills}}
          <br />
        </mat-card-content>

        <mat-card-footer class="post-card-footer">
          <button matTooltip="Click to publish request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button aria-label="Publish" (click)="onPublish(post.id, publishContent)">
            <mat-icon class="publish-button">publish</mat-icon>
          </button>


          <button matTooltip="Click to delete request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="warn" aria-label="Delete Forever" (click)="onDeletePrompt(deleteUnapprovedContent)">
            <mat-icon>delete_forever</mat-icon>
          </button>

          <button matTooltip="Click to reject request" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="warn" aria-label="Reject" (click)="onRejectPrompt(rejectUnapprovedContent)">
            <mat-icon color="warn">block</mat-icon>
          </button>

          <button matTooltip="Click for more information" [matTooltipShowDelay]="100" [matTooltipHideDelay]="100"
            mat-icon-button color="primary" aria-label="Learn More" (click)="onMoreInfo(content)">
            <mat-icon color="primary">
              help_outline
            </mat-icon>

          </button>
        </mat-card-footer>
      </mat-card>
    </section>


  </div>

   -->

