/* You can add global styles to this file, and also import other style files */

mat-icon {
  color: #4da8da;
}


html, body {
  height: 100%;
  /* background-color: #dbe9f4; */
}

/*
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #4DA8DA;
}


/*
mat-label {
  color: #EEFBFB;
}

.mat-input-element {
  color: #EEFBFB;
}

.mat-input-element::placeholder {
  color: #EEFBFB;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
