/*
.w3-container {
    box-shadow: none;
    background-color: inherit;
    color: inherit;
}

body {
    background-color: inherit;
    color: inherit;
}
*/

img {
  margin: 10% auto auto auto;
  display: block;
}

.content-body {

  /*
  position: relative;
  width: 50%;
  left: 20%;
  text-align: justify;
  */
  white-space: pre-line;
}

.title {
    font-family: 'Raleway';
    font-size: xx-large;
    margin-top: 10%;
}

.content {
    font-family: 'Raleway';
    font-size: large;
}

.button-footer {
  /*
  left: 20%;
  */
  margin-top: 2rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;

}

.everything {
  display: block;
  margin: 0 auto;
}

.highlight-image {
  object-fit: cover;
  max-width: 50%;
}
